<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="description" content="Vanilla Admin Template">
   <meta name="author" content="Softsingh">
   <meta name="keywords" content="Admin Template, Dashboard, Vanilla Html JS CSS">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>
      {% block title %}
      {% endblock title %}
   </title>
   <link rel="stylesheet" href="assets/css/core.css">
   <link rel="stylesheet" href="assets/css/style.css">
   <link rel="stylesheet" href="assets/vendor/boxicons-2.1.4/css/boxicons.min.css">
   {% block head_link %}
   {% endblock head_link %}
</head>

<body>
   <div class="dash-container">
      {% include "includes/_dash_sidebar.njk" %}
      <main class="main-layout">
         {% include "includes/_dash_navbar.njk" %}
         <div class="dash-content">
            {% block content %}
            {% endblock content %}
         </div>
      </main>
   </div>
   <script src="assets/js/core.js"></script>
   <script src="assets/js/script.js"></script>
   <script src="assets/js/command-palette.js" data-json="assets/data/site-map.json"></script>
   {% block bottom_link %}
   {% endblock bottom_link %}
</body>

</html>