{% set file_name = "account-overview" %}
{% extends "_dash_base.njk" %}
{% block title %}
Account Overview
{% endblock title %}
{% block content %}
<ul class="nav nav-pills scroll-x-transparent mb-sm-3">
   <li class="nav-item active">
      <a href="account-overview.html" class="nav-link">
         <div class="d-flex align-items-center">
            <i class="bx bx-list-ul fs-5 me-1"></i>
            <span>Overview</span>
         </div>
      </a>
   </li>
   <li class="nav-item">
      <a href="account.html" class="nav-link">
         <div class="d-flex align-items-center">
            <i class="bx bx-user fs-5 me-1"></i>
            <span>Account</span>
         </div>
      </a>
   </li>
   <li class="nav-item">
      <a href="account-address.html" class="nav-link">
         <div class="d-flex align-items-center">
            <i class="bx bx-home fs-5 me-1"></i>
            <span>Address</span>
         </div>
      </a>
   </li>
   <li class="nav-item">
      <a href="account-password.html" class="nav-link">
         <div class="d-flex align-items-center">
            <i class="bx bx-lock-alt fs-5 me-1"></i>
            <span>Password</span>
         </div>
      </a>
   </li>
</ul>
<div class="card mb-6">
   <div class="card-body">
      <div class="d-flex align-items-center gap-6 pb-5 border-bottom">
         <img src="assets/img/Avatars/Dollar Gill.png" alt="user-avatar" class="d-block rounded bg-primary-light-80"
            height="100px" id="uploadedAvatar">
         <div>
            <h5>Dollar Gill</h5>
            <small class="text-muted">Admin</small>
         </div>
      </div>
   </div>
   <div class="card-body pt-0">
      <div class="row g-2 mb-4">
         <div class="col-sm-12 col-lg-3"><label class="form-label">Login ID</label></div>
         <div class="col-sm-12 col-lg-9 fw-500">
            <div class="filled-container">gilldollar</div>
         </div>
      </div>
      <div class="row g-2 mb-4">
         <div class="col-sm-12 col-lg-3"><label class="form-label">Email Address</label></div>
         <div class="col-sm-12 col-lg-9 fw-500">
            <div class="filled-container">gilldollar@gmail.com</div>
         </div>
      </div>
      <div class="row g-2 mb-4">
         <div class="col-sm-12 col-lg-3"><label class="form-label">Full Name</label></div>
         <div class="col-sm-12 col-lg-9 fw-500">
            <div class="filled-container">Dollar Gill</div>
         </div>
      </div>
      <div class="row g-2 mb-4">
         <div class="col-sm-12 col-lg-3"><label class="form-label">Phone Number</label></div>
         <div class="col-sm-12 col-lg-9 fw-500">
            <div class="filled-container">NA</div>
         </div>
      </div>
      <div class="row g-2 mb-4">
         <div class="col-sm-12 col-lg-3"><label class="form-label">Status</label></div>
         <div class="col-sm-12 col-lg-9">
            <div class="filled-container"><span class="badge bg-label-success rounded">Active</span></div>
         </div>
      </div>
      <div class="row g-2 mb-4">
         <div class="col-sm-12 col-lg-3"><label class="form-label">Remarks</label></div>
         <div class="col-sm-12 col-lg-9 fw-500">
            <div class="filled-container">NA</div>
         </div>
      </div>
      <div class="row g-4 mb-4">
         <div class="col-lg-6">
            <label class="form-label mb-2">Groups</label>
            <div class="filled-container scroll-y" style="height: 200px">
               <ul class="mb-2 list-unstyled">
                  <li>exam_staff</li>
                  <li>exam_admin</li>
               </ul>
            </div>
         </div>
         <div class="col-lg-6">
            <label class="form-label mb-2">Permissions</label>
            <div class="filled-container scroll-y" style="height: 200px">
               <div class="mb-3">
                  <strong class="d-block mb-1">User | Profile</strong>
                  <ul class="mb-2 list-unstyled">
                     <li>Can View Profile</li>
                     <li>Can Edit Profile</li>
                     <li>Can Change Passsword</li>
                  </ul>
               </div>
               <div class="mb-3">
                  <strong class="d-block mb-1">Auth | Group</strong>
                  <ul class="mb-2 list-unstyled">
                     <li>Can View Group</li>
                     <li>Can Change Group</li>
                  </ul>
               </div>
               <div class="mb-3">
                  <strong class="d-block mb-1">Auth | Permission</strong>
                  <ul class="mb-2 list-unstyled">
                     <li>Can View Permission</li>
                     <li>Can Change Permission</li>
                  </ul>
               </div>
               <div class="mb-3">
                  <strong class="d-block mb-1">Sessions | Session</strong>
                  <ul class="mb-2 list-unstyled">
                     <li>Can View Session</li>
                  </ul>
               </div>
               <div class="mb-3">
                  <strong class="d-block mb-1">Admin | Log Entry</strong>
                  <ul class="mb-2 list-unstyled">
                     <li>Can view log entry</li>
                     <li>Can add log entry</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="mt-8">
         <a href="account.html" class="btn btn-primary">Edit Account</a>
      </div>
   </div>
</div>
{% endblock content %}