{% set file_name = "account-password" %}
{% extends "_dash_base.njk" %}
{% block title %}
Account Password
{% endblock title %}
{% block content %}
<ul class="nav nav-pills scroll-x-transparent mb-sm-3">
   <li class="nav-item">
      <a href="account-overview.html" class="nav-link">
         <div class="d-flex align-items-center">
            <i class="bx bx-list-ul fs-5 me-1"></i>
            <span>Overview</span>
         </div>
      </a>
   </li>
   <li class="nav-item">
      <a href="account.html" class="nav-link">
         <div class="d-flex align-items-center">
            <i class="bx bx-user fs-5 me-1"></i>
            <span>Account</span>
         </div>
      </a>
   </li>
   <li class="nav-item">
      <a href="account-address.html" class="nav-link">
         <div class="d-flex align-items-center">
            <i class="bx bx-home fs-5 me-1"></i>
            <span>Address</span>
         </div>
      </a>
   </li>
   <li class="nav-item active">
      <a href="account-password.html" class="nav-link">
         <div class="d-flex align-items-center">
            <i class="bx bx-lock-alt fs-5 me-1"></i>
            <span>Password</span>
         </div>
      </a>
   </li>
</ul>
<div class="card mb-6">
   <div class="card-body">
      <h5 class="mb-8">Change Password</h5>
      <form id="formAccountPasword" method="GET" onsubmit="return false">
         <div class="mb-4">
            <label class="form-label mb-2" for="old-password">Old Password</label>
            <input id="old-password" type="password" class="form-control" placeholder="························"
               name="old-password" autofocus>
         </div>
         <div class="mb-4">
            <label class="form-label mb-2" for="new-password">New Password</label>
            <input id="new-password" type="password" class="form-control" placeholder="························"
               name="new-password">
         </div>
         <div class="mb-4">
            <label class="form-label mb-2" for="confirm-password">Confirm Password</label>
            <input id="confirm-password" type="password" class="form-control" placeholder="························"
               name="confirm-password">
         </div>
         <div class="mt-6">
            <button type="submit" class="btn btn-primary me-1">Save changes</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
         </div>
      </form>
   </div>
</div>
{% endblock content %}