{% set file_name = "alerts" %}
{% extends "_dash_base.njk" %}
{% block title %}
Alerts
{% endblock title %}
{% block content %}
<div class="row g-6 mb-4">
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title mb-6">Basic Alerts</h5>
            <div class="alert alert-primary mb-2">This is a primary alert</div>
            <div class="alert alert-secondary mb-2">This is a secondary alert</div>
            <div class="alert alert-success mb-2">This is a success alert</div>
            <div class="alert alert-danger mb-2">This is a danger alert</div>
            <div class="alert alert-warning mb-2">This is a warning alert</div>
            <div class="alert alert-info mb-2">This is an info alert</div>
            <div class="alert alert-light mb-2">This is a light alert</div>
            <div class="alert alert-dark mb-0">This is a dark alert</div>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title mb-6">Dismissible Alerts</h5>
            <div class="alert alert-primary alert-dismissible mb-2">
               This is a primary alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-secondary alert-dismissible mb-2">
               This is a secondary alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-success alert-dismissible mb-2">
               This is a success alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-danger alert-dismissible mb-2">
               This is a danger alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-warning alert-dismissible mb-2">
               This is a warning alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-info alert-dismissible mb-2">
               This is an info alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-light alert-dismissible mb-2">
               This is a light alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-dark alert-dismissible mb-0">
               This is a dark alert
               <button class="btn-close"></button>
            </div>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title mb-6">Solid Alerts</h5>
            <div class="alert alert-solid-primary mb-2">This is a primary alert</div>
            <div class="alert alert-solid-secondary mb-2">This is a secondary alert</div>
            <div class="alert alert-solid-success mb-2">This is a success alert</div>
            <div class="alert alert-solid-danger mb-2">This is a danger alert</div>
            <div class="alert alert-solid-warning mb-2">This is a warning alert</div>
            <div class="alert alert-solid-info mb-2">This is an info alert</div>
            <div class="alert alert-solid-light mb-2">This is a light alert</div>
            <div class="alert alert-solid-dark mb-0">This is a dark alert</div>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title mb-6">Solid Dismissible Alerts</h5>
            <div class="alert alert-solid-primary alert-dismissible mb-2">
               This is a primary alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-solid-secondary alert-dismissible mb-2">
               This is a secondary alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-solid-success alert-dismissible mb-2">
               This is a success alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-solid-danger alert-dismissible mb-2">
               This is a danger alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-solid-warning alert-dismissible mb-2">
               This is a warning alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-solid-info alert-dismissible mb-2">
               This is an info alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-solid-light alert-dismissible mb-2">
               This is a light alert
               <button class="btn-close"></button>
            </div>
            <div class="alert alert-solid-dark alert-dismissible mb-0">
               This is a dark alert
               <button class="btn-close"></button>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}