{% set file_name = "avatars" %}
{% extends "_dash_base.njk" %}
{% block title %}
Avatars
{% endblock title %}
{% block content %}
<div class="row g-6">
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title mb-6">Shapes</h5>
            <div class="gap-container gap-4">
               <div class="avatar">
                  <img class="rounded-circle bg-primary-light-80" src="assets/img/Avatars/Dollar Gill.png" alt="Avatar"
                     width="40px" height="auto">
               </div>
               <div class="avatar">
                  <img class="rounded bg-primary-light-80" src="assets/img/Avatars/Dollar Gill.png" alt="Avatar"
                     width="40px" height="auto">
               </div>
               <div class="avatar">
                  <img class="bg-primary-light-80" src="assets/img/Avatars/Dollar Gill.png" alt="Avatar" width="40px"
                     height="auto">
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title mb-6">Status</h5>
            <div class="gap-container gap-4">
               <div class="avatar avatar-online">
                  <img class="rounded-circle bg-primary-light-80" src="assets/img/Avatars/Dollar Gill.png" alt="Avatar"
                     width="40px" height="auto">
               </div>
               <div class="avatar avatar-offline">
                  <img class="rounded-circle bg-primary-light-80" src="assets/img/Avatars/Dollar Gill.png" alt="Avatar"
                     width="40px" height="auto">
               </div>
               <div class="avatar avatar-away">
                  <img class="rounded-circle bg-primary-light-80" src="assets/img/Avatars/Dollar Gill.png" alt="Avatar"
                     width="40px" height="auto">
               </div>
               <div class="avatar avatar-busy">
                  <img class="rounded-circle bg-primary-light-80" src="assets/img/Avatars/Dollar Gill.png" alt="Avatar"
                     width="40px" height="auto">
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title mb-6">Initials</h5>
            <div class="gap-container gap-3">
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-primary">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-secondary">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-success">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-danger">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-warning">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-info">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-light">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-dark">DG</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title mb-6">Label Intials</h5>
            <div class="gap-container gap-3">
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-label-primary">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-label-secondary">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-label-success">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-label-danger">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-label-warning">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-label-info">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-label-light">DG</span>
               </div>
               <div class="avatar">
                  <span class="avatar-initial rounded-circle bg-label-dark">DG</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}