{% set file_name = "badges" %}
{% extends "_dash_base.njk" %}
{% block title %}
   Badges
{% endblock title %}
{% block content %}
   <div class="row g-6">
      <div class="col-12 col-md-6">
         <div class="card">
            <div class="card-header pb-0">
               <h5>Basic Badges</h5>
            </div>
            <div class="card-body">
               <div class="badge-container">
                  <span class="badge bg-primary">Primary</span>
                  <span class="badge bg-secondary">Secondary</span>
                  <span class="badge bg-success">Success</span>
                  <span class="badge bg-danger">Danger</span>
                  <span class="badge bg-warning">Warning</span>
                  <span class="badge bg-info">Info</span>
                  <span class="badge bg-light">Light</span>
                  <span class="badge bg-dark">Dark</span>
               </div>
            </div>
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="card">
            <div class="card-header pb-0">
               <h5>Label Badges</h5>
            </div>
            <div class="card-body">
               <div class="badge-container">
                  <span class="badge bg-label-primary">Primary</span>
                  <span class="badge bg-label-secondary">Secondary</span>
                  <span class="badge bg-label-success">Success</span>
                  <span class="badge bg-label-danger">Danger</span>
                  <span class="badge bg-label-warning">Warning</span>
                  <span class="badge bg-label-info">Info</span>
                  <span class="badge bg-label-light">Light</span>
                  <span class="badge bg-label-dark">Dark</span>
               </div>
            </div>
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="card">
            <div class="card-header pb-0">
               <h5>Basic Pill Badges</h5>
            </div>
            <div class="card-body">
               <div class="badge-container">
                  <span class="badge rounded-pill bg-primary">Primary</span>
                  <span class="badge rounded-pill bg-secondary">Secondary</span>
                  <span class="badge rounded-pill bg-success">Success</span>
                  <span class="badge rounded-pill bg-danger">Danger</span>
                  <span class="badge rounded-pill bg-warning">Warning</span>
                  <span class="badge rounded-pill bg-info">Info</span>
                  <span class="badge rounded-pill bg-light">Light</span>
                  <span class="badge rounded-pill bg-dark">Dark</span>
               </div>
            </div>
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="card">
            <div class="card-header pb-0">
               <h5>Label Pill Badges</h5>
            </div>
            <div class="card-body">
               <div class="badge-container">
                  <span class="badge rounded-pill bg-label-primary">Primary</span>
                  <span class="badge rounded-pill bg-label-secondary">Secondary</span>
                  <span class="badge rounded-pill bg-label-success">Success</span>
                  <span class="badge rounded-pill bg-label-danger">Danger</span>
                  <span class="badge rounded-pill bg-label-warning">Warning</span>
                  <span class="badge rounded-pill bg-label-info">Info</span>
                  <span class="badge rounded-pill bg-label-light">Light</span>
                  <span class="badge rounded-pill bg-label-dark">Dark</span>
               </div>
            </div>
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="card">
            <div class="card-header pb-0">
               <h5>Badges Notifications</h5>
            </div>
            <div class="card-body">
               <div class="badge-container">
                  <div class="d-flex gap-6">
                     <div class="position-relative">
                        <i class="bx bx-bell fs-6"></i>
                        <span class="badge badge-dot bg-danger badge-notifications-demo"></span>
                     </div>
                     <div class="position-relative">
                        <i class="bx bx-bell fs-6"></i>
                        <span class="badge bg-danger badge-notifications-demo">2</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-12 col-md-6">
         <div class="card">
            <div class="card-header pb-0">
               <h5>Badge Dots</h5>
            </div>
            <div class="card-body">
               <div class="badge-container">
                  <div class="d-flex flex-wrap gap-6">
                     <div class="d-flex align-items-center gap-2">
                        <span class="badge badge-dot bg-primary me-1"></span>
                        <span>Primary</span>
                     </div>
                     <div class="d-flex align-items-center gap-2">
                        <span class="badge badge-dot bg-secondary me-1"></span>
                        <span>Secondary</span>
                     </div>
                     <div class="d-flex align-items-center gap-2">
                        <span class="badge badge-dot bg-success me-1"></span>
                        <span>Success</span>
                     </div>
                     <div class="d-flex align-items-center gap-2">
                        <span class="badge badge-dot bg-danger me-1"></span>
                        <span>Danger</span>
                     </div>
                     <div class="d-flex align-items-center gap-2">
                        <span class="badge badge-dot bg-warning me-1"></span>
                        <span>Warning</span>
                     </div>
                     <div class="d-flex align-items-center gap-2">
                        <span class="badge badge-dot bg-info me-1"></span>
                        <span>Info</span>
                     </div>
                     <div class="d-flex align-items-center gap-2">
                        <span class="badge badge-dot bg-light me-1"></span>
                        <span>Light</span>
                     </div>
                     <div class="d-flex align-items-center gap-2">
                        <span class="badge badge-dot bg-dark me-1"></span>
                        <span>Dark</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock content %}
