{% extends "_base.njk" %}
{% block title %}
   Blank Page
{% endblock title %}
{% block content %}
   <div class="d-flex flex-column align-items-center justify-content-center p-8">
      <h2>Blank Page</h2>
   </div>
{% endblock content %}
