{% set file_name = "buttons" %}
{% extends "_dash_base.njk" %}
{% block title %}
Buttons
{% endblock title %}
{% block content %}
<div class="row g-6">
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Basic Buttons</h5>
         </div>
         <div class="card-body">
            <div class="gap-container-2">
               <button class="btn btn-primary">Primary</button>
               <button class="btn btn-secondary">Secondary</button>
               <button class="btn btn-success">Success</button>
               <button class="btn btn-danger">Danger</button>
               <button class="btn btn-warning">Warning</button>
               <button class="btn btn-info">Info</button>
               <button class="btn btn-light">Light</button>
               <button class="btn btn-dark">Dark</button>
            </div>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Label Buttons</h5>
         </div>
         <div class="card-body">
            <div class="gap-container-2">
               <button class="btn btn-label-primary">Primary</button>
               <button class="btn btn-label-secondary">Secondary</button>
               <button class="btn btn-label-success">Success</button>
               <button class="btn btn-label-danger">Danger</button>
               <button class="btn btn-label-warning">Warning</button>
               <button class="btn btn-label-info">Info</button>
               <button class="btn btn-label-light">Light</button>
               <button class="btn btn-label-dark">Dark</button>
            </div>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Basic Rounded Buttons</h5>
         </div>
         <div class="card-body">
            <div class="gap-container-2">
               <button class="btn rounded-pill btn-primary">Primary</button>
               <button class="btn rounded-pill btn-secondary">Secondary</button>
               <button class="btn rounded-pill btn-success">Success</button>
               <button class="btn rounded-pill btn-danger">Danger</button>
               <button class="btn rounded-pill btn-warning">Warning</button>
               <button class="btn rounded-pill btn-info">Info</button>
               <button class="btn rounded-pill btn-light">Light</button>
               <button class="btn rounded-pill btn-dark">Dark</button>
            </div>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Label Rounded Buttons</h5>
         </div>
         <div class="card-body">
            <div class="gap-container-2">
               <button class="btn rounded-pill btn-label-primary">Primary</button>
               <button class="btn rounded-pill btn-label-secondary">Secondary</button>
               <button class="btn rounded-pill btn-label-success">Success</button>
               <button class="btn rounded-pill btn-label-danger">Danger</button>
               <button class="btn rounded-pill btn-label-warning">Warning</button>
               <button class="btn rounded-pill btn-label-info">Info</button>
               <button class="btn rounded-pill btn-label-light">Light</button>
               <button class="btn rounded-pill btn-label-dark">Dark</button>
            </div>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Basic Ouline Buttons</h5>
         </div>
         <div class="card-body">
            <div class="gap-container-2">
               <button class="btn btn-outline-primary">Primary</button>
               <button class="btn btn-outline-secondary">Secondary</button>
               <button class="btn btn-outline-success">Success</button>
               <button class="btn btn-outline-danger">Danger</button>
               <button class="btn btn-outline-warning">Warning</button>
               <button class="btn btn-outline-info">Info</button>
               <button class="btn btn-outline-light">Light</button>
               <button class="btn btn-outline-dark">Dark</button>
            </div>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Rounded Outline Buttons</h5>
         </div>
         <div class="card-body">
            <div class="gap-container-2">
               <button class="btn rounded-pill btn-outline-primary">Primary</button>
               <button class="btn rounded-pill btn-outline-secondary">Secondary</button>
               <button class="btn rounded-pill btn-outline-success">Success</button>
               <button class="btn rounded-pill btn-outline-danger">Danger</button>
               <button class="btn rounded-pill btn-outline-warning">Warning</button>
               <button class="btn rounded-pill btn-outline-info">Info</button>
               <button class="btn rounded-pill btn-outline-light">Light</button>
               <button class="btn rounded-pill btn-outline-dark">Dark</button>
            </div>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Basic Buttons Sizes</h5>
         </div>
         <div class="card-body">
            <div class="gap-container-2">
               <button class="btn btn-xs btn-primary">Extra Small</button>
               <button class="btn btn-sm btn-primary">Small</button>
               <button class="btn btn-primary">Normal</button>
            </div>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Rounded Buttons Sizes</h5>
         </div>
         <div class="card-body">
            <div class="gap-container-2">
               <button class="btn btn-xs rounded-pill btn-primary">Extra Small</button>
               <button class="btn btn-sm rounded-pill btn-primary">Small</button>
               <button class="btn rounded-pill btn-primary">Normal</button>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}