{% set file_name = "carousels" %}
{% extends "_dash_base.njk" %}
{% block title %}
Carousels
{% endblock title %}
{% block content %}
<div class="row g-6">
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title mb-6">Default</h5>
         </div>
      </div>
   </div>
</div>
{% endblock content %}