{% set file_name = "color-palettes" %}
{% extends "_dash_base.njk" %}
{% block title %}
Color Palettes
{% endblock title %}
{% block content %}
<div class="row g-6">
   {% set colors = ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark'] %}
   {% for color in colors %}
   <div class="col-sm-12 col-md-6">
      <div class="card">
         <h5 class="px-5 pt-5">{{color|capitalize}} Color Palette</h5>
         <div class="card-body">
            {% for i in range(100, 0, -1) %}
            <div class="row">
               <div class="col">
                  <p class="w-100">{{color}}-light-{{i}}</p>
               </div>
               <div class="col-3 col-md-5 col-lg-6">
                  <div class="color-pelette-box bg-{{color}}-light-{{i}}"></div>
               </div>
            </div>
            {% endfor %}
            <div class="row my-2">
               <div class="col">
                  <p class="w-100">{{color}}-color</p>
               </div>
               <div class="col-3 col-md-5 col-lg-6">
                  <div class="color-pelette-box bg-{{color}}"></div>
               </div>
            </div>
            {% for i in range(1, 101, 1) %}
            <div class="row">
               <div class="col">
                  <p class="w-100">{{color}}-dark-{{i}}</p>
               </div>
               <div class="col-3 col-md-5 col-lg-6">
                  <div class="color-pelette-box bg-{{color}}-dark-{{i}}"></div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </div>
   {% endfor %}
   <div class="col-sm-12 col-md-6">
      <div class="card">
         <h5 class="px-5 pt-5">Black Color Palette</h5>
         <div class="card-body">
            {% for i in range(1, 101, 1) %}
            <div class="row">
               <div class="col">
                  <p class="w-100">black-light-{{i}}</p>
               </div>
               <div class="col-3 col-md-5 col-lg-6">
                  <div class="color-pelette-box bg-black-light-{{i}}"></div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </div>
</div>
{% endblock content %}