{% set file_name = "color-palettes" %}
{% extends "_dash_base.njk" %}
{% block title %}
   Color Palettes
{% endblock title %}
{% block content %}
   <div class="row g-6">
      <div class="col-sm-12 col-md-6">
         <div class="card">
            <h5 class="px-5 pt-5">Primary Color Palette</h5>
            <div class="card-body">
               <div class="row">
                  <div class="col">
                     <p class="w-100">primary-lightest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-primary-lightest"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">primary-lighter-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-primary-lighter"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">primary-light-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-primary-light"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">primary-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-primary"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">primary-dark-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-primary-dark"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">primary-darker-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-primary-darker"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">primary-darkest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-primary-darkest"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-12 col-md-6">
         <div class="card">
            <h5 class="px-5 pt-5">Secondary Color Palette</h5>
            <div class="card-body">
               <div class="row">
                  <div class="col">
                     <p class="">secondary-lightest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-secondary-lightest"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">secondary-lighter-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-secondary-lighter"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">secondary-light-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-secondary-light"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">secondary-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-secondary"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">secondary-dark-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-secondary-dark"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">secondary-darker-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-secondary-darker"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">secondary-darkest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-secondary-darkest"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-12 col-md-6">
         <div class="card">
            <h5 class="px-5 pt-5">Success Color Palette</h5>
            <div class="card-body">
               <div class="row">
                  <div class="col">
                     <p class="w-100">success-lightest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-success-lightest"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">success-lighter-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-success-lighter"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">success-light-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-success-light"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">success-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-success"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">success-dark-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-success-dark"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">success-darker-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-success-darker"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">success-darkest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-success-darkest"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-12 col-md-6">
         <div class="card">
            <h5 class="px-5 pt-5">Danger Color Palette</h5>
            <div class="card-body">
               <div class="row">
                  <div class="col">
                     <p class="w-100">danger-lightest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-danger-lightest"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">danger-lighter-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-danger-lighter"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">danger-light-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-danger-light"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">danger-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-danger"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">danger-dark-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-danger-dark"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">danger-darker-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-danger-darker"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">danger-darkest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-danger-darkest"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-12 col-md-6">
         <div class="card">
            <h5 class="px-5 pt-5">Warning Color Palette</h5>
            <div class="card-body">
               <div class="row">
                  <div class="col">
                     <p class="w-100">warning-lightest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-warning-lightest"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">warning-lighter-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-warning-lighter"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">warning-light-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-warning-light"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">warning-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-warning"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">warning-dark-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-warning-dark"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">warning-darker-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-warning-darker"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">warning-darkest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-warning-darkest"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-12 col-md-6">
         <div class="card">
            <h5 class="px-5 pt-5">Info Color Palette</h5>
            <div class="card-body">
               <div class="row">
                  <div class="col">
                     <p class="w-100">info-lightest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-info-lightest"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">info-lighter-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-info-lighter"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">info-light-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-info-light"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">info-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-info"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">info-dark-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-info-dark"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">info-darker-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-info-darker"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">info-darkest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-info-darkest"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-12 col-md-6">
         <div class="card">
            <h5 class="px-5 pt-5">Light Color Palette</h5>
            <div class="card-body">
               <div class="row">
                  <div class="col">
                     <p class="w-100">light-lightest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-light-lightest"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">light-lighter-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-light-lighter"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">light-light-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-light-light"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">light-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-light"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">light-dark-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-light-dark"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">light-darker-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-light-darker"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">light-darkest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-light-darkest"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-12 col-md-6">
         <div class="card">
            <h5 class="px-5 pt-5">Dark Color Palette</h5>
            <div class="card-body">
               <div class="row">
                  <div class="col">
                     <p class="w-100">dark-lightest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-dark-lightest"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">dark-lighter-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-dark-lighter"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">dark-light-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-dark-light"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">dark-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-dark"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">dark-dark-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-dark-dark"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">dark-darker-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-dark-darker"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <p class="w-100">dark-darkest-color</p>
                  </div>
                  <div class="col-3 col-md-5 col-lg-6">
                     <div class="color-pelette-box bg-dark-darkest"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock content %}
