{% set file_name = "dropdowns" %}
{% extends "_dash_base.njk" %}
{% block title %}
Dropdowns
{% endblock title %}
{% block content %}
<div class="row g-6">
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Dropdowns</h5>
         </div>
         <div class="card-body">
            <div class="d-flex gap-2">
               <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle">Simple</button>
                  <div class="dropdown-menu">
                     <div class="px-6 pt-2 pb-3 mb-1">Header</div>
                     <div class="dropdown-divider"></div>
                     <div class="dropdown-item">First Item</div>
                     <div class="dropdown-item">Second Item</div>
                     <div class="dropdown-item">Third Item</div>
                  </div>
               </div>
               <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle">With Icons</button>
                  <div class="dropdown-menu dropdown-menu-end">
                     <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center gap-3">
                           <i class="bx bx-list-ul fs-5"></i>
                           <span>Overview</span>
                        </div>
                     </a>
                     <div class="dropdown-divider"></div>
                     <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center gap-3">
                           <i class="bx bx-user fs-5"></i>
                           <span>Profile</span>
                        </div>
                     </a>
                     <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center gap-3">
                           <i class="bx bx-cog fs-5"></i>
                           <span>Settings</span>
                        </div>
                     </a>
                     <div class="dropdown-divider"></div>
                     <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center gap-3">
                           <i class="bx bx-power-off fs-5"></i>
                           <span>Logout</span>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle">Scrollable</button>
                  <div class="dropdown-menu dropdown-menu-end" id="dropdown-menu-scroll-demo">
                     <div class="dropdown-header">
                        <div class="d-flex align-items-center justify-content-between">
                           <h6 class="fs-4">Notifications</h6>
                           <span class="badge bg-label-primary">10 New</span>
                        </div>
                     </div>
                     <div class="dropdown-divider"></div>
                     <div class="dropdown-scroll-container">
                        <div class="dropdown-item border-bottom">
                           <div class="d-flex">
                              <div class="flex-shrink-0 me-4">
                                 <div class="avatar">
                                    <img class="rounded-circle bg-primary-lightest" src="assets/img/Avatars/Lalina.png"
                                       alt="Avatar" width="40px">
                                 </div>
                              </div>
                              <div class="overflow-hidden flex-grow-1">
                                 <small class="fw-semibold mb-0">New Message</small>
                                 <small class="d-block mb-1">This is to bring to your attention that
                                    something very bad
                                    is
                                    going to happen to me in the night
                                 </small>
                                 <small class="text-muted">2 Min ago</small>
                              </div>
                           </div>
                        </div>
                        <div class="dropdown-item border-bottom">
                           <div class="d-flex">
                              <div class="flex-shrink-0 me-4">
                                 <div class="avatar">
                                    <img class="rounded-circle bg-primary-lightest"
                                       src="assets/img/Avatars/Andrew Altman.png" alt="Avatar" width="40px">
                                 </div>
                              </div>
                              <div class="overflow-hidden flex-grow-1">
                                 <small class="fw-semibold mb-0">Hello</small>
                                 <small class="d-block mb-1">Hello there, whats up dear</small>
                                 <small class="text-muted">10 min ago</small>
                              </div>
                           </div>
                        </div>
                        <div class="dropdown-item border-bottom">
                           <div class="d-flex">
                              <div class="flex-shrink-0 me-4">
                                 <div class="avatar">
                                    <span class="avatar-initial rounded-circle bg-label-danger">NR</span>
                                 </div>
                              </div>
                              <div class="overflow-hidden flex-grow-1">
                                 <small class="fw-semibold mb-0">Nathu Ram</small>
                                 <small class="d-block mb-1">Nathu Ram has sent a follow request</small>
                                 <small class="text-muted">30 min ago</small>
                              </div>
                           </div>
                        </div>
                        <div class="dropdown-item border-bottom">
                           <div class="d-flex">
                              <div class="flex-shrink-0 me-4">
                                 <div class="avatar">
                                    <img class="rounded-circle bg-primary-lightest"
                                       src="assets/img/Avatars/Dollar Gill.png" alt="Avatar" width="40px">
                                 </div>
                              </div>
                              <div class="overflow-hidden flex-grow-1">
                                 <small class="fw-semibold mb-0">Dollar Gill</small>
                                 <small class="d-block mb-1">You have a new message from Dollar Gill</small>
                                 <small class="text-muted">45 min ago</small>
                              </div>
                           </div>
                        </div>
                        <div class="dropdown-item border-bottom">
                           <div class="d-flex">
                              <div class="flex-shrink-0 me-4">
                                 <div class="avatar">
                                    <span class="avatar-initial rounded-circle bg-label-warning"><i
                                          class="bx bx-bell fs-5"></i></span>
                                 </div>
                              </div>
                              <div class="overflow-hidden flex-grow-1">
                                 <small class="fw-semibold mb-0">Reminders</small>
                                 <small class="d-block mb-1">There are some urgent reminders which need your
                                    immediate
                                    attention</small>
                                 <small class="text-muted">1 hr ago</small>
                              </div>
                           </div>
                        </div>
                        <div class="dropdown-item border-bottom">
                           <div class="d-flex">
                              <div class="flex-shrink-0 me-4">
                                 <div class="avatar">
                                    <img class="rounded-circle bg-primary-lightest"
                                       src="assets/img/Avatars/Hargun Chahal.png" alt="Avatar" width="40px">
                                 </div>
                              </div>
                              <div class="overflow-hidden flex-grow-1">
                                 <small class="fw-semibold mb-0">Request approved</small>
                                 <small class="d-block mb-1">Your request to add new resourced has been
                                    approved by
                                    Hargun Chahal</small>
                                 <small class="text-muted">2 hr ago</small>
                              </div>
                           </div>
                        </div>
                        <div class="dropdown-item border-bottom">
                           <div class="d-flex">
                              <div class="flex-shrink-0 me-4">
                                 <div class="avatar">
                                    <img class="rounded-circle bg-primary-lightest"
                                       src="assets/img/Avatars/Harinder Singh.png" alt="Avatar" width="40px">
                                 </div>
                              </div>
                              <div class="overflow-hidden flex-grow-1">
                                 <small class="fw-semibold mb-0">Harinder Singh</small>
                                 <small class="d-block mb-1">Invitation to participate in this year's annual
                                    day
                                    celebration</small>
                                 <small class="text-muted">3 hr ago</small>
                              </div>
                           </div>
                        </div>
                        <div class="dropdown-item border-bottom">
                           <div class="d-flex">
                              <div class="flex-shrink-0 me-4">
                                 <div class="avatar">
                                    <img class="rounded-circle bg-primary-lightest"
                                       src="assets/img/Avatars/Ruby Bajwa.png" alt="Avatar" width="40px">
                                 </div>
                              </div>
                              <div class="overflow-hidden flex-grow-1">
                                 <small class="fw-semibold mb-0">Ruby Bajwa</small>
                                 <small class="d-block mb-1">You have a new message from Ruby Bajwa</small>
                                 <small class="text-muted">2 days ago</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="dropdown-footer">
                        <div class="row g-2">
                           <div class="col-12">
                              <button class="btn btn-secondary w-100">Mark All as Read</button>
                           </div>
                           <div class="col-12">
                              <button class="btn btn-primary w-100">View All</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}