{% set file_name = "edit-group" %}
{% extends "_dash_base.njk" %}
{% block title %}
Edit Group
{% endblock title %}
{% block content %}
<div class="card">
   <div class="px-6 py-4">
      <h4 class="card-title mb-4">Edit Group</h4>
      <form method="post">
         <div class="mb-4">
            <label class="form-label mb-2">Name</label>
            <input class="form-control" type="text" name="group" id="group" value="exam_staff"
               placeholder="Enter group name" required>
         </div>
         <div class="mb-4">
            <label class="form-label mb-2">Permissions</label>
            <div class="search-close-wrapper mb-1">
               <input type="search" placeholder="Search from Permissions" class="form-control search-input"
                  id="seachFromPermissions">
               <i class="bx bx-x bx-sm search-closer cursor-pointer"
                  onclick="document.getElementById('seachFromPermissions').value=''; document.getElementById('seachFromPermissions').focus();"></i>
            </div>
            <div class="mb-4 scroll-y border rounded px-3 py-2" style="max-height: 200px;">
               <strong class="d-block mb-1">User</strong>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-1" checked>
                  <label for="perm-1">Can View Profile</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-2" checked>
                  <label for="perm-1">Can Edit Profile</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-3" checked>
                  <label for="perm-1">Can Change Password</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-4">
                  <label for="perm-1">Can Add User</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-5">
                  <label for="perm-1">Can Remove User</label>
               </div>
               <strong class="d-block mb-1 mt-3">Auth | Group</strong>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-14" checked>
                  <label for="perm-1">Can View Group</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-15">
                  <label for="perm-1">Can Add Group</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-16" checked>
                  <label for="perm-1">Can Change Group</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-17">
                  <label for="perm-1">Can Delete Group</label>
               </div>
               <strong class="d-block mb-1 mt-3">Auth | Permission</strong>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-10" checked>
                  <label for="perm-1">Can View Permission</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-11">
                  <label for="perm-1">Can Add Permission</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-12" checked>
                  <label for="perm-1">Can Change Permission</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-13">
                  <label for="perm-1">Can Delete Permission</label>
               </div>
               <strong class="d-block mb-1 mt-3">Sessions</strong>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-18" checked>
                  <label for="perm-1">Can View Session</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-19">
                  <label for="perm-1">Can Add Session</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-20">
                  <label for="perm-1">Can Change Session</label>
               </div>
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-21">
                  <label for="perm-1">Can Delete Session</label>
               </div>
               <strong class="d-block mb-1 mt-3">Admin | Log Entry</strong>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-6" checked>
                  <label for="perm-1">Can View Log Entry</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-7" checked>
                  <label for="perm-1">Can Add Log Entry</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-8">
                  <label for="perm-1">Can Change Log Entry</label>
               </div>
               <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" name="permissions" id="perm-9">
                  <label for="perm-1">Can Delete Log Entry</label>
               </div>
            </div>
         </div>
         <div class="d-flex gap-1">
            <a href="/view-group.html" class="btn btn-primary">Save</a>
            <a href="/view-group.html" class="btn btn-secondary">Cancel</a>
         </div>
      </form>
   </div>
</div>
{% endblock content %}