{% extends "_base.njk" %}
{% block htmlclass %}
   h-100
{% endblock htmlclass %}
{% block title %}
   Forgot Password
{% endblock title %}
{% block bodyclass %}
   h-100
{% endblock bodyclass %}
{% block content %}
   <div class="mid-center-container">
      <div class="mid-center-inner">
         <div class="card">
            <div class="card-body">
               <div class="app-brand">
                  <a href="index.html" class="app-brand-link">
                     <img src="assets/img/logo.png" alt="Logo" class="logo-image">
                     <h5 class="logo-text">Vanilla Admin</h5>
                  </a>
               </div>
               <div class="mb-5">
                  <h5 class="mb-1">Forgot Password</h5>
                  <p>
                     Enter your email address below and we'll send you a link to reset your password. If you don't
                     receive an email, please
                     check your spam folder or try again.
                  </p>
               </div>
               <form action="#" class="login-form mb-6" method="post">
                  <div class="mb-4">
                     <label class="form-label mb-2" for="login-id">Email</label>
                     <input id="email"
                            type="email"
                            class="form-control"
                            placeholder="Enter your Email"
                            name="email"
                            autofocus>
                  </div>
                  <div class="mt-6">
                     <a href="forgot-password-success.html" class="btn btn-primary w-100">Send Reset Link</a>
                  </div>
               </form>
               <p class="text-center">
                  <a href="login.html">
                     <span>Login</span>
                  </a>
               </p>
            </div>
         </div>
      </div>
   </div>
{% endblock content %}
