{% extends "_base.njk" %}
{% block title %}
   Index
{% endblock title %}
{% block bodyclass %}
   landing-body
{% endblock bodyclass %}
{% block content %}
   <div class="container-fluid">
      <header>
         <nav class="landing-navbar">
            <div class="nav-left">
               <a href="#" class="nav-logo">
                  <img src="assets/img/logo.png" alt="Logo" class="logo-image">
               </a>
            </div>
            <div class="nav-right">
               <a href="register.html" class="btn btn-secondary">Register</a>
               <a href="login.html" class="btn btn-primary">Login</a>
            </div>
         </nav>
      </header>
   </div>
{% endblock content %}
