{% set file_name = "navbars" %}
{% extends "_dash_base.njk" %}
{% block title %}
   Navbars
{% endblock title %}
{% block content %}
   <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
         <div class="navbar-brand">
            <a href="#" class="nav-logo">
               <img src="assets/img/logo.png" alt="Logo" height="30px" width="auto">
            </a>
         </div>
         <div class="navbar-toggle"
              data-toggle="collapse"
              data-target="navbarExample1">
            <a href="#" class="nav-link">
               <i class="bx bx-menu bx-sm cursor-pointer"></i>
            </a>
         </div>
         <div class="navbar-collapse" id="navbarExample1">
            <div class="navbar-nav">
               <div class="nav-item">
                  <a class="nav-link" href="#">Home</a>
               </div>
               <div class="nav-item">
                  <a class="nav-link" href="#">About</a>
               </div>
               <div class="nav-item">
                  <a class="nav-link" href="#">Features</a>
               </div>
               <div class="nav-item">
                  <div class="dropdown">
                     <div class="dropdown-toggle">
                        <a href="#" class="nav-link">
                           <i class="bx bx-grid-alt fs-6"></i>
                        </a>
                     </div>
                     <div class="dropdown-menu">
                        <div class="px-6 pt-2 pb-3 mb-1">Header</div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-item">First Item</div>
                        <div class="dropdown-item">Second Item</div>
                        <div class="dropdown-item">Third Item</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </nav>
{% endblock content %}
