{% set file_name = "navs" %}
{% extends "_dash_base.njk" %}
{% block title %}
Navs
{% endblock title %}
{% block content %}
<div class="row g-6">
   <div class="col-12 col-md-6">
      <ul class="nav nav-tabs">
         <li class="nav-item active">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-list-ul fs-5 me-1"></i>
                  <span>Overview</span>
               </div>
            </a>
         </li>
         <li class="nav-item">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-user fs-5 me-1"></i>
                  <span>Account</span>
               </div>
            </a>
         </li>
         <li class="nav-item">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-home fs-5 me-1"></i>
                  <span>Address</span>
               </div>
            </a>
         </li>
      </ul>
      <div class="card">
         <div class="card-header pb-0">
            <h5>Nav Tabs</h5>
         </div>
         <div class="card-body">
            <p>
               Some quick example text to build on the card title and make up the bulk of the card's
               content. Some quick example text
               to build on the card title and make up the bulk of the card's content. Some quick example
               text to
               build on the card title and
               the bulk of the card's content.
            </p>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <ul class="nav nav-pills mb-3">
         <li class="nav-item active">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-list-ul fs-5 me-1"></i>
                  <span>Overview</span>
               </div>
            </a>
         </li>
         <li class="nav-item">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-user fs-5 me-1"></i>
                  <span>Account</span>
               </div>
            </a>
         </li>
         <li class="nav-item">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-home fs-5 me-1"></i>
                  <span>Address</span>
               </div>
            </a>
         </li>
      </ul>
      <div class="card">
         <div class="card-header pb-0">
            <h5>Nav Pills</h5>
         </div>
         <div class="card-body">
            <p>
               Some quick example text to build on the card title and make up the bulk of the card's
               content. Some quick example text
               to build on the card title and make up the bulk of the card's content.
            </p>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <ul class="nav nav-underline">
         <li class="nav-item active">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-list-ul fs-5 me-1"></i>
                  <span>Overview</span>
               </div>
            </a>
         </li>
         <li class="nav-item">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-user fs-5 me-1"></i>
                  <span>Account</span>
               </div>
            </a>
         </li>
         <li class="nav-item">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-home fs-5 me-1"></i>
                  <span>Address</span>
               </div>
            </a>
         </li>
      </ul>
      <div class="card">
         <div class="card-header pb-0">
            <h5>Nav Underline</h5>
         </div>
         <div class="card-body">
            <p>
               Some quick example text to build on the card title and make up the bulk of the card's
               content. Some quick example text
               to build on the card title and make up the bulk of the card's content. Some quick example
               text to
               build on the card title and
               the bulk of the card's content.
            </p>
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <ul class="nav nav-pills scroll-x-transparent mb-sm-3">
         <li class="nav-item active">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-list-ul fs-5 me-1"></i>
                  <span>Overview</span>
               </div>
            </a>
         </li>
         <li class="nav-item">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-user fs-5 me-1"></i>
                  <span>Account</span>
               </div>
            </a>
         </li>
         <li class="nav-item">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-home fs-5 me-1"></i>
                  <span>Address</span>
               </div>
            </a>
         </li>
         <li class="nav-item">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-lock-alt fs-5 me-1"></i>
                  <span>Password</span>
               </div>
            </a>
         </li>
         <li class="nav-item">
            <a href="#" class="nav-link">
               <div class="d-flex align-items-center">
                  <i class="bx bx-detail fs-5 me-1"></i>
                  <span>Miscellaneous</span>
               </div>
            </a>
         </li>
      </ul>
      <div class="card">
         <div class="card-header pb-0">
            <h5>Nav Pills with Scroll Container</h5>
         </div>
         <div class="card-body">
            <p>
               Some quick example text to build on the card title and make up the bulk of the card's
               content. Some quick example text
               to build on the card title and make up the bulk of the card's content.
            </p>
         </div>
      </div>
   </div>
</div>
{% endblock content %}