{% extends "_base.njk" %}
{% block htmlclass %}
   h-100
{% endblock htmlclass %}
{% block title %}
   Not Authorized
{% endblock title %}
{% block bodyclass %}
   h-100
{% endblock bodyclass %}
{% block content %}
   <main class="mid-center-container">
      <div class="mid-center-inner">
         <div class="text-center">
            <h1 class="fs-24 lh-22 mb-3">401</h1>
            <h4 class="mb-2">You are not authorized!</h4>
            <p class="mb-8">You don't have permission to access this page!</p>
            <a href="index.html" class="btn btn-warning">Back to Home</a>
         </div>
      </div>
   </main>
{% endblock content %}
