{% extends "_base.njk" %}
{% block htmlclass %}
    h-100
{% endblock htmlclass %}
{% block title %}
    Failed
{% endblock title %}
{% block bodyclass %}
    h-100
{% endblock bodyclass %}
{% block content %}
    <div class="mid-center-container">
        <div class="mid-center-inner">
            <div class="card">
                <div class="card-body">
                    <div class="app-brand">
                        <a href="index.html" class="app-brand-link">
                            <img src="assets/img/logo.png" alt="Logo" class="logo-image">
                            <h5 class="logo-text">Vanilla Admin</h5>
                        </a>
                    </div>
                    <div class="mb-5">
                        <div class="d-flex align-items-center gap-2 mb-2">
                            <i class="bx bx-x-circle fs-6 text-danger"></i>
                            <h5>Reset Password Failed!</h5>
                        </div>
                        <p>
                            The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                        </p>
                    </div>
                    <div class="mb-4">
                        <a href="forgot-password.html" class="btn btn-primary w-100">Request Password Reset</a>
                    </div>
                    <div>
                        <p class="text-center">
                            <a href="login.html">
                                <span>Login</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
