{% set file_name = "toasts" %}
{% extends "_dash_base.njk" %}
{% block title %}
Toasts
{% endblock title %}
{% block content %}
<div class="row g-6">
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Default</h5>
         </div>
         <div class="card-body">
            <button class="btn btn-primary" id="btnShowToast">Show Toast</button>
         </div>
      </div>
      <div class="toast toast-dark" id="defaultToast">
         <div class="toast-header">
            <div class="d-flex align-items-center gap-2">
               <i class="bx bx-bell fs-5"></i>
               <div class="fw-bold">Toast Header</div>
            </div>
            <small>11 Min Ago</small>
            <button type="button" class="btn-close"></button>
         </div>
         <div class="toast-body">
            This is a sample toast message. This is a sample toast message. This is a sample toast message.
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-header pb-0">
            <h5>Default</h5>
         </div>
         <div class="demo">
            <div class="toast show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Toast Header</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-primary show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Toast Header</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-secondary show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Toast Header</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-success show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Toast Header</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-danger show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Toast Header</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-warning show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Toast Header</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-info show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Toast Header</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-light show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Toast Header</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-dark show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Toast Header</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}