{% set file_name = "toasts" %}
{% extends "_dash_base.njk" %}
{% block title %}
Toasts
{% endblock title %}
{% block content %}
<div class="row g-6">
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title mb-6">Toast Positions</h5>
            <div class="gap-container gap-1 mb-4">
               <button class="btn btn-primary" data-toggle="toast" data-target="#toastTopLeft">Top
                  Left</button>
               <button class="btn btn-primary" data-toggle="toast" data-target="#toastTopCenter">Top
                  Center</button>
               <button class="btn btn-primary" data-toggle="toast" data-target="#toastTopRight">Top
                  Right</button>
            </div>
            <div class="gap-container gap-1 mb-4">
               <button class="btn btn-primary" data-toggle="toast" data-target="#toastMiddleLeft">Middle
                  Left</button>
               <button class="btn btn-primary" data-toggle="toast" data-target="#toastMiddleCenter">Middle
                  Center</button>
               <button class="btn btn-primary" data-toggle="toast" data-target="#toastMiddleRight">Middle
                  Right</button>
            </div>
            <div class="gap-container gap-1">
               <button class="btn btn-primary" data-toggle="toast" data-target="#toastBottomLeft">Bottom
                  Left</button>
               <button class="btn btn-primary" data-toggle="toast" data-target="#toastBottomCenter">Bottom
                  Center</button>
               <button class="btn btn-primary" data-toggle="toast" data-target="#toastBottomRight">Bottom
                  Right</button>
            </div>
         </div>
      </div>
      <div class="toast toast-dark toast-top-left" id="toastTopLeft" data-delay="3000">
         <div class="toast-header">
            <div class="d-flex align-items-center gap-2">
               <i class="bx bx-bell fs-5"></i>
               <div class="fw-bold">Toast Header</div>
            </div>
            <small>11 Min Ago</small>
            <button type="button" class="btn-close"></button>
         </div>
         <div class="toast-body">
            This is a sample toast message. This is a sample toast message. This is a sample toast message.
         </div>
      </div>
      <div class="toast toast-dark toast-top-center" id="toastTopCenter" data-delay="3000">
         <div class="toast-header">
            <div class="d-flex align-items-center gap-2">
               <i class="bx bx-bell fs-5"></i>
               <div class="fw-bold">Toast Header</div>
            </div>
            <small>11 Min Ago</small>
            <button type="button" class="btn-close"></button>
         </div>
         <div class="toast-body">
            This is a sample toast message. This is a sample toast message. This is a sample toast message.
         </div>
      </div>
      <div class="toast toast-dark toast-top-right" id="toastTopRight" data-delay="3000">
         <div class="toast-header">
            <div class="d-flex align-items-center gap-2">
               <i class="bx bx-bell fs-5"></i>
               <div class="fw-bold">Toast Header</div>
            </div>
            <small>11 Min Ago</small>
            <button type="button" class="btn-close"></button>
         </div>
         <div class="toast-body">
            This is a sample toast message. This is a sample toast message. This is a sample toast message.
         </div>
      </div>

      <div class="toast toast-dark toast-middle-left" id="toastMiddleLeft" data-delay="3000">
         <div class="toast-header">
            <div class="d-flex align-items-center gap-2">
               <i class="bx bx-bell fs-5"></i>
               <div class="fw-bold">Toast Header</div>
            </div>
            <small>11 Min Ago</small>
            <button type="button" class="btn-close"></button>
         </div>
         <div class="toast-body">
            This is a sample toast message. This is a sample toast message. This is a sample toast message.
         </div>
      </div>
      <div class="toast toast-dark toast-middle-center" id="toastMiddleCenter" data-delay="3000">
         <div class="toast-header">
            <div class="d-flex align-items-center gap-2">
               <i class="bx bx-bell fs-5"></i>
               <div class="fw-bold">Toast Header</div>
            </div>
            <small>11 Min Ago</small>
            <button type="button" class="btn-close"></button>
         </div>
         <div class="toast-body">
            This is a sample toast message. This is a sample toast message. This is a sample toast message.
         </div>
      </div>
      <div class="toast toast-dark toast-middle-right" id="toastMiddleRight" data-delay="3000">
         <div class="toast-header">
            <div class="d-flex align-items-center gap-2">
               <i class="bx bx-bell fs-5"></i>
               <div class="fw-bold">Toast Header</div>
            </div>
            <small>11 Min Ago</small>
            <button type="button" class="btn-close"></button>
         </div>
         <div class="toast-body">
            This is a sample toast message. This is a sample toast message. This is a sample toast message.
         </div>
      </div>

      <div class="toast toast-dark toast-bottom-left" id="toastBottomLeft" data-delay="3000">
         <div class="toast-header">
            <div class="d-flex align-items-center gap-2">
               <i class="bx bx-bell fs-5"></i>
               <div class="fw-bold">Toast Header</div>
            </div>
            <small>11 Min Ago</small>
            <button type="button" class="btn-close"></button>
         </div>
         <div class="toast-body">
            This is a sample toast message. This is a sample toast message. This is a sample toast message.
         </div>
      </div>
      <div class="toast toast-dark toast-bottom-center" id="toastBottomCenter" data-delay="3000">
         <div class="toast-header">
            <div class="d-flex align-items-center gap-2">
               <i class="bx bx-bell fs-5"></i>
               <div class="fw-bold">Toast Header</div>
            </div>
            <small>11 Min Ago</small>
            <button type="button" class="btn-close"></button>
         </div>
         <div class="toast-body">
            This is a sample toast message. This is a sample toast message. This is a sample toast message.
         </div>
      </div>
      <div class="toast toast-dark toast-bottom-right" id="toastBottomRight" data-delay="3000">
         <div class="toast-header">
            <div class="d-flex align-items-center gap-2">
               <i class="bx bx-bell fs-5"></i>
               <div class="fw-bold">Toast Header</div>
            </div>
            <small>11 Min Ago</small>
            <button type="button" class="btn-close"></button>
         </div>
         <div class="toast-body">
            This is a sample toast message. This is a sample toast message. This is a sample toast message.
         </div>
      </div>
   </div>
   <div class="col-12 col-md-6">
      <div class="card">
         <div class="card-body toast-colors">
            <h5 class="card-title mb-6">Toast Colors</h5>
            <div class="toast show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Default</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-primary show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Primary</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-secondary show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Secondary</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-success show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Success</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-danger show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Danger</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-warning show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Warning</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-info show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Info</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-light show mb-6">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Light</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
            <div class="toast toast-dark show">
               <div class="toast-header">
                  <div class="d-flex align-items-center gap-2">
                     <i class="bx bx-bell fs-5"></i>
                     <div class="fw-bold">Dark</div>
                  </div>
                  <small>11 Min Ago</small>
                  <button type="button" class="btn-close"></button>
               </div>
               <div class="toast-body">
                  This is a sample toast message. This is a sample toast message. This is a sample toast message.
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}