{% set file_name = "tooltips" %}
{% extends "_dash_base.njk" %}
{% block title %}
   Tooltips
{% endblock title %}
{% block content %}
   <div class="row g-6">
      <div class="col-12 col-md-6">
         <div class="card">
            <div class="card-header pb-0">
               <h5>Default</h5>
            </div>
            <div class="card-body"></div>
         </div>
      </div>
   </div>
{% endblock content %}
