:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --light-white-color: #f7f7f7;
  --light-gray-color: #e5e5e5;

  --primary-color: hsl(240, 100%, 70%);
  --primary-hover-color: #5252ff;
  --primary-shadow-color: #6666ff66;

  --primary-medium-color: hsl(240, 100%, 80%);
  --primary-subtle-color: hsl(240, 100%, 95%);

  --secondary-color: hsl(214, 14%, 52%);
  --secondary-hover-color: hsl(215, 14%, 46%);
  --secondary-shadow-color: hsla(214, 14%, 52%, 0.4);

  --secondary-medium-color: hsl(214, 14%, 62%);
  --secondary-subtle-color: hsl(214, 14%, 75%);

  --success-color: hsl(100, 65%, 56%);
  --success-hover-color: hsl(100, 65%, 48%);
  --success-shadow-color: hsla(100, 65%, 56%, 0.4);

  --success-medium-color: hsl(100, 65%, 66%);
  --success-subtle-color: hsl(100, 100%, 90%);

  --danger-color: hsl(8, 100%, 56%);
  --danger-hover-color: hsl(8, 100%, 48%);
  --danger-shadow-color: hsla(8, 100%, 56%, 0.4);

  --danger-medium-color: hsl(8, 100%, 66%);
  --danger-subtle-color: hsl(8, 100%, 90%);

  --warning-color: hsl(40, 100%, 50%);
  --warning-hover-color: hsl(40, 100%, 46%);
  --warning-shadow-color: hsla(40, 100%, 50%, 0.4);

  --warning-medium-color: hsl(40, 100%, 60%);
  --warning-subtle-color: hsl(40, 100%, 90%);

  --info-color: hsl(190, 100%, 50%);
  --info-hover-color: hsl(190, 100%, 44%);
  --info-shadow-color: hsla(190, 100%, 50%, 0.4);

  --dark-color: hsl(240, 20%, 20%);
  --dark-hover-color: hsl(240, 20%, 30%);
  --dark-shadow-color: hsla(240, 20%, 20%, 0.4);

  --body-color: hsl(212, 15%, 48%);
  --body-bg: #f5f5f9;

  --border-color: #d9dee3;

  --dropdown-divider-color: hsl(210, 8%, 90%);

  --form-control-focus-border-color: hsla(240, 100%, 58%, 0.7);

  --heading-color: hsl(210, 18%, 28%);

  --link-color: #6666ff;
  --link-hover-color: #5252ff;

  --scrollbar-color: hsl(240, 25%, 100%);
  --scrollbar-hover-color: var(--black-color);

  --text-muted-color: hsl(212, 8%, 68%);

  --overlay-dark-color: rgba(0, 0, 0, 0.6);
}

:root {
  --border-radius: 0.375rem;
  --button-radius: 0.25rem;
}

/* Color variables for dark theme */

.dark-mode {
  --white-color: #171717;
  --black-color: #d4d4d4;
  --light-white-color: #333;
  --light-gray-color: #404040;
}

/*-------------------------------------*/
/*               Anchor                */
/*-------------------------------------*/

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

a:focus-visible {
  outline: 2px solid var(--primary-color);
  border-radius: 2px;
}

/*-------------------------------------*/
/*               Avatar                */
/*-------------------------------------*/

.avatar {
  position: relative;
  width: 2.375rem;
  height: 2.375rem;
  cursor: pointer;
}

.avatar.avatar-online::after,
.avatar.avatar-offline::after,
.avatar.avatar-away::after,
.avatar.avatar-busy::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 3px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #fff;
}

.avatar.avatar-online::after {
  background-color: #71dd37;
}

.avatar .avatar-initial {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #eeedf0;
  font-size: 0.9rem;
}

.badge {
  display: inline-block;
  padding: 0.7em;
  font-size: 0.7em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--border-radius);
}

.bg-label-primary {
  color: var(--primary-color) !important;
  background-color: var(--primary-subtle-color) !important;
}

.bg-label-secondary {
  color: var(--secondary-color) !important;
  background-color: var(--secondary-subtle-color) !important;
}

.bg-label-success {
  color: var(--success-color) !important;
  background-color: var(--success-subtle-color) !important;
}

.bg-label-danger {
  color: var(--danger-color) !important;
  background-color: var(--danger-subtle-color) !important;
}

.bg-label-warning {
  color: var(--warning-color) !important;
  background-color: var(--warning-subtle-color) !important;
}

.bg-label-info {
  color: var(--primary-color) !important;
  background-color: var(--primary-subtle-color) !important;
}

/*-------------------------------------*/
/*                Body                 */
/*-------------------------------------*/
body {
  color: var(--body-color);
  background: var(--body-bg);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.375;
}

/*-------------------------------------*/
/*              Buttons                */
/*-------------------------------------*/

.btn {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  /* user-select: none; */
}

.btn:hover,
.btn:focus {
  transform: translateY(-1px);
}

.btn-primary {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: 0 0.125rem 0.25rem 0 var(--primary-shadow-color);
}

.btn-primary:hover,
.btn-primary:focus {
  outline: none;
  color: white;
  background-color: var(--primary-hover-color);
  border-color: var(--primary-hover-color);
}

.btn-secondary {
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: 0 0.125rem 0.25rem 0 var(--secondary-shadow-color);
}

.btn-secondary:hover {
  color: white;
  background-color: var(--secondary-hover-color);
  border-color: var(--secondary-hover-color);
}

.btn-success {
  color: white;
  background-color: var(--success-color);
  border-color: var(--success-color);
  box-shadow: 0 0.125rem 0.25rem 0 var(--success-shadow-color);
}

.btn-success:hover {
  color: white;
  background-color: var(--success-hover-color);
  border-color: var(--success-hover-color);
}

.btn-danger {
  color: white;
  background-color: var(--danger-color);
  border-color: var(--danger-color);
  box-shadow: 0 0.125rem 0.25rem 0 var(--danger-shadow-color);
}

.btn-danger:hover {
  color: white;
  background-color: var(--danger-hover-color);
  border-color: var(--danger-hover-color);
}

.btn-warning {
  color: white;
  background-color: var(--warning-color);
  border-color: var(--warning-color);
  box-shadow: 0 0.125rem 0.25rem 0 var(--warning-shadow-color);
}

.btn-warning:hover {
  color: white;
  background-color: var(--warning-hover-color);
  border-color: var(--warning-hover-color);
}

.btn-info {
  color: white;
  background-color: var(--info-color);
  border-color: var(--info-color);
  box-shadow: 0 0.125rem 0.25rem 0 var(--info-shadow-color);
}

.btn-info:hover {
  color: white;
  background-color: var(--info-hover-color);
  border-color: var(--info-hover-color);
}

.btn-dark {
  color: white;
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  box-shadow: 0 0.125rem 0.25rem 0 var(--dark-shadow-color);
}

.btn-dark:hover {
  color: white;
  background-color: var(--dark-hover-color);
  border-color: var(--dark-hover-color);
}

/*-------------------------------------*/
/*                Card                 */
/*-------------------------------------*/

.card {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid var(--border-color); */
  background: var(--white-color);
  box-shadow: 0 0.2rem 0.5rem 0 hsla(210, 30%, 20%, 0.1);
  border-radius: var(--border-radius);
}

/*-------------------------------------*/
/*             Container               */
/*-------------------------------------*/

.container,
.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid rgb(106, 255, 0); */
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/*-------------------------------------*/
/*           Dropdown             */
/*-------------------------------------*/

.dropdown {
  position: relative;
}

.dropdown-toggle {
  transform: none !important;
  height: 100%;
}

.dropdown-menu {
  position: absolute;
  display: none;
  overflow: hidden;
  transform: translateY(2px);
  padding: 0.5rem 0;
  color: var(--body-color);
  background-color: white;
  box-shadow: 0 0.2rem 0.5rem 0 hsla(210, 30%, 20%, 0.1);
  border-radius: var(--border-radius);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

.dropdown-header {
  padding: 1rem 1rem 1rem 1.5rem;
}

.dropdown-footer {
  padding: 1rem 1.5rem 0.5rem 1.5rem;
}

.dropdown-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
  padding: 0.5rem 3rem 0.5rem 1.5rem;
  color: var(--heading-color);
}

.dropdown-item:hover {
  color: var(--heading-color);
  background-color: hsla(210, 29%, 19%, 0.06);
}

.dropdown-divider {
  height: 0;
  margin: 0.25rem 0;
  overflow: hidden;
  border-top: 1px solid var(--dropdown-divider-color);
  opacity: 1;
}

.dropdown-scroll-container {
  overflow-x: hidden;
  overflow-y: auto;
  /* overflow-x: clip; */
  /* overflow-clip-margin: border-box; */
  white-space: nowrap;
  text-overflow: ellipsis;
  scrollbar-width: thin;
  height: calc(100vh - 18rem);
  scrollbar-color: transparent transparent;
}

.dropdown-scroll-container:hover {
  scrollbar-color: var(--scrollbar-color);
}

/*-------------------------------------*/
/*           Form Elements             */
/*-------------------------------------*/

.form-check {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.form-check-input {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17' viewBox='0 0 15 14' fill='none'%3E%3Cpath d='M3.41667 7L6.33333 9.91667L12.1667 4.08333' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--border-color);
  border-radius: 0.3rem;
}

.form-check-input:focus {
  outline: 0;
  border-color: var(--form-control-focus-border-color);
  box-shadow: 0 0.25rem 0.25rem 0.05rem hsla(239, 100%, 70%, 0.2);
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.form-check-label {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  display: inline-block;
}

.form-control {
  display: block;
  width: 100%;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.35rem 0.75rem;
  color: var(--body-color);
  background: var(--white-color);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
}

.form-control:hover:not([disabled]):not([focus]) {
  box-shadow: 0 0 0.25rem 0.05rem hsla(239, 100%, 70%, 0.1);
}

.form-control:focus {
  outline: 0;
  color: var(--body-color);
  background: var(--white-color);
  border: 2px solid var(--form-control-focus-border-color);
  box-shadow: 0 0 0.25rem 0.05rem hsla(239, 100%, 70%, 0.1);
}

.form-control::placeholder {
  color: #b4bdc6;
  font-weight: 450;
  opacity: 1;
}

.form-control::placeholder,
.form-control:focus::placeholder {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.form-control:focus::placeholder {
  transform: translateX(5px);
  -moz-transform: translateX(5px);
  -o-transform: translateX(5px);
  -webkit-transform: translateX(5px);
}

.form-label {
  font-size: 0.9rem;
  font-weight: 500;
  display: inline-block;
}

/*-------------------------------------*/
/*              Heading                */
/*-------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--heading-color);
}

h1 {
  font-size: calc(1.3rem + 1.2vw);
}

h2 {
  font-size: calc(1.3rem + 0.9vw);
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: calc(1.275rem - 0.3vw);
}

/*-------------------------------------*/
/*                Menu                 */
/*-------------------------------------*/
/*             Sidebar Menu            */
/*-------------------------------------*/

.menu {
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin;
  height: calc(100vh - 100px);
  scrollbar-color: transparent transparent;
  /* border: 1px solid red; */
}

.menu-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem 0 1rem;
  color: var(--heading-color);
  border-radius: var(--border-radius);
}

.menu-link:hover {
  color: var(--heading-color);
  background-color: hsla(210, 29%, 19%, 0.06);
}

.menu > .menu-item.active > .menu-link {
  color: var(--primary-color);
  background-color: var(--primary-subtle-color);
}

.menu-toggle::after {
  position: absolute;
  content: 'î©';
  right: 6%;
  display: block;
  font-family: 'boxicons';
  font-size: 1.375rem;
  transform: translateY(5%);
  transition: transform 0.2s ease-out;
}

.menu-item.open > .menu-toggle::after {
  transform: rotate(90deg);
}

.menu-sub {
  display: none;
  position: relative;
  transition: height 0.4s ease-in;
}

.menu-sub .menu-item {
  margin-top: 0.25rem;
}

.menu-sub .menu-link {
  padding-left: 2.5rem;
}

.menu-sub > .menu-item > .menu-link:before {
  content: '';
  position: absolute;
  left: 2rem;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: #a7acb2;
}

.menu-item.open > .menu-sub {
  display: block;
}

/*---------------------------- Utility Classes -----------------------------*/

/*-------------------------------------*/
/*             Background              */
/*-------------------------------------*/

.bg-primary {
  background-color: var(--primary-color);
}

.bg-primary-medium {
  background-color: var(--primary-medium-color);
}

.bg-primary-subtle {
  background-color: var(--primary-subtle-color);
}

/*-------------------------------------*/
/*               Border                */
/*-------------------------------------*/

.border-0 {
  border: 0;
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.border-top {
  border-top: 1px solid var(--border-color);
}

.rounded-circle {
  border-radius: 50%;
}

/*-------------------------------------*/
/*               Cursor                */
/*-------------------------------------*/

.cursor-pointer {
  cursor: pointer;
}

/*-------------------------------------*/
/*              Display                */
/*-------------------------------------*/

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.d-none {
  display: none;
}

.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 0.125rem;
}

.gap-2 {
  gap: 0.25rem;
}

.gap-3 {
  gap: 0.375rem;
}

.gap-4 {
  gap: 0.5rem;
}

.gap-5 {
  gap: 0.625rem;
}

/*-------------------------------------*/
/*               Font                  */
/*-------------------------------------*/

.fs-1 {
  font-size: 0.25rem;
}

.fs-2 {
  font-size: 0.5rem;
}

.fs-3 {
  font-size: 0.75rem;
}

.fs-4 {
  font-size: 1rem;
}

.fs-5 {
  font-size: 1.25rem;
}

.fs-6 {
  font-size: 1.5rem;
}

.fs-7 {
  font-size: 1.75rem;
}

.fs-8 {
  font-size: 2rem;
}

.fw-lighter {
  font-weight: lighter;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-extrabold {
  font-weight: 800;
}

.fw-bolder {
  font-weight: bolder;
}

small,
.small {
  font-size: 0.8rem;
}

/*-------------------------------------*/
/*              Margin                 */
/*-------------------------------------*/

.ms-0 {
  margin-left: 0;
}

.ms-1 {
  margin-left: 0.25rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.ms-3 {
  margin-left: 0.75rem;
}

.me-0 {
  margin-left: 0;
}

.me-1 {
  margin-right: 0.25rem;
}

.me-2 {
  margin-right: 0.5rem;
}

.me-3 {
  margin-right: 0.75rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

/*-------------------------------------*/
/*              Padding                */
/*-------------------------------------*/

.p-0 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.p-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-4 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.ps-4 {
  padding-left: 1rem;
}

.ps-5 {
  padding-left: 1.25rem;
}

.ps-6 {
  padding-left: 1.5rem;
}

.ps-7 {
  padding-left: 1.75rem;
}

/*-------------------------------------*/
/*                Text                 */
/*-------------------------------------*/

.text-center {
  text-align: center;
}

.text-body {
  opacity: 1;
  color: var(--body-color);
}

.text-muted {
  opacity: 1;
  color: var(--text-muted-color);
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*-------------------------------------*/
/*               Width                 */
/*-------------------------------------*/

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

/*-------------------------------------*/
/*             Overflow                */
/*-------------------------------------*/

.overflow-auto {
  overflow: auto;
}
