/* Importing Google Font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

:root {
  font-size: normal;
}

/*-------------------------------------*/
/*             App Brand               */
/*-------------------------------------*/

.app-brand {
  margin-bottom: 2rem;
}

.app-brand .app-brand-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.app-brand .app-brand-link .logo-image {
  height: 35px;
}

.app-brand .app-brand-link .logo-text {
  color: var(--heading-color);
  font-weight: 600;
}

/*-------------------------------------*/
/*                Body                 */
/*-------------------------------------*/

.landing-body {
  color: var(--body-color);
  background: hsl(256, 86%, 92%);
}

/*-------------------------------------*/
/*               Badge                 */
/*-------------------------------------*/

.badge-notifications {
  position: absolute;
  transform: translate(0.8rem, -1.4rem);
  font-size: 0.5rem;
  line-height: 0.3rem;
  border-radius: 50%;
}

.badge-notifications-demo {
  position: absolute;
  transform: translate(-0.6rem, -0.4rem);
  font-size: 0.5rem;
  border-radius: 50%;
}

.badge-notifications-demo.badge-dot {
  transform: translate(-0.7rem, 0.1rem);
}

.badge-container>* {
  margin: 1rem 0.25rem 0 0 !important;
}

/*-------------------------------------*/
/*                 Box                 */
/*-------------------------------------*/

.color-pelette-box {
  height: 25px;
  width: 100%;
}

/*-------------------------------------*/
/*               Button                */
/*-------------------------------------*/

.btn-address {
  font-size: 0.6rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.25rem;
}

/*-------------------------------------*/
/*             Container               */
/*-------------------------------------*/

@media (max-width: 450px) {

  .login-container,
  .register-container {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
  }
}

@media (min-width: 450px) {

  .login-container,
  .register-container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}


/*-------------------------------------*/
/*             Dashboard               */
/*-------------------------------------*/

.dash-container {
  display: flex;
}

.dash-content {
  margin: 2.5rem 1.5rem 1.5rem 1.5rem;
}

@media (min-width: 1200px) {
  body.sidebar-hidden .dash-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
  }
}

/*-------------------------------------*/
/*              Dropdown               */
/*-------------------------------------*/

#dropdown-menu-account {
  top: 3.25rem;
}

#dropdown-menu-notifications {
  max-width: 25rem;
  top: 2.75rem;
}

.dropdown-notifications-item {
  display: block;
  width: 100%;
  white-space: nowrap;
  padding: 0.75rem 0.5rem 0.75rem 1.5rem;
  cursor: pointer;
  color: var(--heading-color);
}

.dropdown-notifications-item:hover {
  color: var(--heading-color);
  background-color: hsla(210, 29%, 19%, 0.06);
}

.dropdown-notifications-item:not(.mark-as-read) .dropdown-notifications-read span {
  background-color: var(--primary-color);
}

.dropdown-notifications-item.mark-as-read:hover .dropdown-notifications-read span {
  background-color: var(--body-color);
}

.dropdown-notifications-archive {
  color: var(--body-color);
  visibility: hidden;
}

.dropdown-notifications-item:hover .dropdown-notifications-archive {
  visibility: visible;
}

.dropdown-notifications-archive:hover {
  color: var(--black-color);
}

.dropdown-shortcuts-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  color: var(--body-color);
}

.dropdown-shortcuts-item:hover {
  color: var(--heading-color);
  background-color: hsla(210, 29%, 19%, 0.06);
}

.dropdown-shortcuts-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: var(--secondary-color);
  background-color: hsl(220, 9%, 94%);
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

#dropdown-menu-shortcuts {
  width: 25rem;
  top: 2.75rem;
}

#dropdown-menu-shortcuts .dropdown-scroll-container {
  height: calc(100vh - 15rem);
}

#dropdown-menu-scroll-demo {
  width: 20rem;
}

#dropdown-menu-scroll-demo .dropdown-scroll-container {
  height: calc(100vh - 27rem);
}

@media (max-width: 576px) {
  #dropdown-menu-notifications .dropdown-scroll-container {
    height: calc(100vh - 25rem);
  }

  #dropdown-menu-shortcuts .dropdown-scroll-container {
    height: calc(100vh - 22rem);
  }
}

@media (max-width: 768px) {
  #dropdown-menu-notifications {
    max-width: 89vw;
    right: -4.6rem;
  }

  #dropdown-menu-shortcuts {
    width: 89vw;
    right: -6.75rem;
  }

  #dropdown-menu-scroll-demo {
    width: 18rem;
  }

  #dropdown-menu-scroll-demo .dropdown-scroll-container {
    height: calc(100vh - 35rem);
  }
}

/*-------------------------------------*/
/*            Main Layout              */
/*-------------------------------------*/

.main-layout {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  scrollbar-color: #a6a6a6 transparent;
  scrollbar-width: thin;
}

.main-layout:before {
  content: '';
  width: 100%;
  height: 4.5rem;
  position: fixed;
  top: 0px;
  z-index: 3;
}

.main-layout:before {
  backdrop-filter: saturate(200%) blur(10px);
  background: linear-gradient(180deg,
      rgba(245, 245, 249, 0.7) 44%,
      rgba(245, 245, 249, 0.43) 73%,
      rgba(245, 245, 249, 0));
  -webkit-mask: linear-gradient(#f5f5f9, #4949f5 18%, transparent 100%);
  mask: linear-gradient(#f5f5f9, #f5f5f9 18%, transparent 100%);
}

/*-------------------------------------*/
/*               Navbar                */
/*-------------------------------------*/

@media (min-width: 1200px) {
  body.sidebar-hidden .navbar {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
  }
}

.navbar .navbar-toggle {
  display: none;
  transition: 0.2s ease;
}

body.sidebar-hidden .navbar .navbar-toggle {
  display: block;
}

.navbar .search-input-wrapper {
  display: none;
}

.navbar .search-input-wrapper.show {
  display: block;
}

.navbar .search-input-wrapper .search-input-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.search-input-cover .search-input:focus {
  border: 0;
}

.navbar .search-input-wrapper .search-closer {
  position: absolute;
  color: var(--body-color);
  transform: translateY(-50%);
  right: 1rem;
  z-index: 1;
}

.landing-navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  margin: 1rem;
  border: 2px solid hsla(0, 0%, 100%, 0.9);
  background: hsla(0, 0%, 100%, 0.5);
  border-radius: 0.375rem;
}

@media (min-width: 1200px) {
  .landing-navbar {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
  }
}

.landing-navbar .nav-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.landing-navbar .nav-logo .logo-image {
  height: 32px;
  cursor: pointer;
}

.landing-navbar .nav-logo .logo-text {
  color: var(--heading-color);
}

/*-------------------------------------*/
/*          Dashboard Table            */
/*-------------------------------------*/

.dash-table thead,
.dash-table tbody,
.dash-table tfoot,
.dash-table tr,
.dash-table td,
.dash-table th {
  border-bottom: 1px solid var(--border-color);
}

.dash-table th,
.dash-table td {
  padding: 0.75rem 0.5rem 0.75rem 1.5rem;
}

.dash-table tbody tr:hover {
  background-color: var(--heading-hover-bg-color);
}

/*-------------------------------------*/
/*      Panel of Examiner Table        */
/*-------------------------------------*/

@media (max-width: 576px) {

  .dash-table.poe thead th:nth-child(3),
  .dash-table.poe thead th:nth-child(4),
  .dash-table.poe tbody td:nth-child(3),
  .dash-table.poe tbody td:nth-child(4) {
    display: none;
  }
}

@media (min-width: 576px) {

  .dash-table.poe thead th:nth-child(5),
  .dash-table.poe tbody td:nth-child(5) {
    display: none;
  }
}

@media (max-width: 950px) {

  .dash-table.poe thead th:nth-child(2),
  .dash-table.poe tbody td:nth-child(2) {
    display: none;
  }
}

/*-------------------------------------*/
/*             User Table              */
/*-------------------------------------*/

@media (max-width: 576px) {

  .dash-table.user thead th:nth-child(2),
  .dash-table.user thead th:nth-child(3),
  .dash-table.user tbody td:nth-child(2),
  .dash-table.user tbody td:nth-child(3) {
    display: none;
  }
}

@media (min-width: 576px) {

  .dash-table.user thead th:nth-child(4),
  .dash-table.user tbody td:nth-child(4) {
    display: none;
  }
}