/*-------------------------------------*/
/*             Accordion               */
/*-------------------------------------*/

.accordion-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  font-weight: inherit;
  border: none;
  background: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.accordion-button::after {
  flex-shrink: 0;
  content: '';
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 11.76117,4.2282428 8,7.9894141 4.2388294,4.2282428 3,5.4670728 8,10.467087 13,5.4670728 Z" id="path1" style="fill:%233b4754" /></svg>');
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
  margin-left: 1.25rem;
  transition: all 0.2s ease-in-out;
}

.accordion-item.no-arrow .accordion-button::after {
  background-image: none !important;
}

.accordion-item .accordion-body {
  display: none;
}

.accordion-item:not(.no-collapse).open > .accordion-body {
  display: block;
}

.accordion-item:not(.no-collapse).open .accordion-button::after {
  transform: rotate(180deg);
}
