/*-------------------------------------*/
/*                Alert                */
/*-------------------------------------*/

.alert {
  position: relative;
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
}

.alert-dismissible {
  padding-right: 3rem;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: var(--btn-close-z-index);
  padding: 0.95rem 1rem;
  background-size: 0.625rem 0.625rem;
}

.alert-primary {
  color: var(--primary-color);
  background-color: var(--primary-lightest-color);
}

.alert-primary .btn-close {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%236666ff;fill-opacity:1;stroke-width:8.83978" /></svg>');
}

.alert-secondary {
  color: var(--secondary-color);
  background-color: var(--secondary-lightest-color);
}

.alert-secondary .btn-close {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%23738296;fill-opacity:1;stroke-width:8.83978" /></svg>');
}

.alert-success {
  color: var(--success-color);
  background-color: var(--success-lightest-color);
}

.alert-success .btn-close {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%2376d846;fill-opacity:1;stroke-width:8.83978" /></svg>');
}

.alert-danger {
  color: var(--danger-color);
  background-color: var(--danger-lightest-color);
}

.alert-danger .btn-close {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%23ff3d1f;fill-opacity:1;stroke-width:8.83978" /></svg>');
}

.alert-warning {
  color: var(--warning-color);
  background-color: var(--warning-lightest-color);
}

.alert-warning .btn-close {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%23ffaa00;fill-opacity:1;stroke-width:8.83978" /></svg>');
}

.alert-info {
  color: var(--info-color);
  background-color: var(--info-lightest-color);
}

.alert-info .btn-close {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%2300d5ff;fill-opacity:1;stroke-width:8.83978" /></svg>');
}

.alert-light {
  color: var(--light-darkest-color);
  background-color: var(--light-lighter-color);
}

.alert-light .btn-close {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%23738296;fill-opacity:1;stroke-width:8.83978" /></svg>');
}

.alert-dark {
  color: var(--dark-color);
  background-color: var(--dark-lightest-color);
}

.alert-dark .btn-close {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%2329293d;fill-opacity:1;stroke-width:8.83978" /></svg>');
}

.alert-solid-primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.alert-solid-secondary {
  color: var(--white-color);
  background-color: var(--secondary-color);
}

.alert-solid-success {
  color: var(--white-color);
  background-color: var(--success-color);
}

.alert-solid-danger {
  color: var(--white-color);
  background-color: var(--danger-color);
}

.alert-solid-warning {
  color: var(--white-color);
  background-color: var(--warning-color);
}

.alert-solid-info {
  color: var(--white-color);
  background-color: var(--info-color);
}

.alert-solid-light {
  color: var(--white-color);
  background-color: var(--light-color);
}

.alert-solid-dark {
  color: var(--white-color);
  background-color: var(--dark-color);
}

[class*='alert-solid-'] .btn-close {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%23fff;fill-opacity:1;stroke-width:8.83978" /></svg>');
}
