/*-------------------------------------*/
/*               Avatar                */
/*-------------------------------------*/
@import '_color_map.scss';

.avatar {
  --avatar-shadow-color: var(--white-color);
  position: relative;
  width: 2.375rem;
  height: 2.375rem;
  cursor: pointer;
}

.avatar.avatar-online::after,
.avatar.avatar-offline::after,
.avatar.avatar-away::after,
.avatar.avatar-busy::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 3px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px var(--avatar-shadow-color);
}

.avatar.avatar-online::after {
  background-color: var(--success-color);
}

.avatar.avatar-offline::after {
  background-color: var(--secondary-color);
}

.avatar.avatar-away::after {
  background-color: var(--warning-color);
}

.avatar.avatar-busy::after {
  background-color: var(--danger-color);
}

.avatar .avatar-initial {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: #eeedf0;
  font-size: 0.9rem;
}