/*-------------------------------------*/
/*               Badge                 */
/*-------------------------------------*/

.badge {
  display: inline-block;
  padding: 0.5em 0.75em;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1;
  color: var(--white-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--border-radius);
}

.badge.badge-dot {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  vertical-align: middle;
}
