/*-------------------------------------*/
/*                Card                 */
/*-------------------------------------*/
@import '_color_map.scss';

.card {
  --card-shadow-color: hsla(210, 30%, 20%, 0.1);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background: var(--paper-bg);
  box-shadow: 0 0.2rem 0.5rem 0 var(--card-shadow-color);
  border-radius: var(--border-radius);
}

.dark-mode .card {
  --card-shadow-color: none;
  border: 1px solid var(--border-color);
}

@each $name, $value in $color-map {
  .dark-mode .card.bg-#{$name} {
    border-color: var(--#{$name}-light-10);
  }

  .dark-mode .card.bg-label-#{$name} {
    border-color: var(--#{$name}-light-50);
  }
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  margin-bottom: 0.5rem;
}