/*-------------------------------------*/
/*               Colors                */
/*-------------------------------------*/

@import '_color_map.scss';

:root {
  @each $name, $value in $color-map {
    --#{$name}-color: #{$value};
  }

  @each $name, $value in $color-map {
    @if $name =='dark' {
      --#{$name}-hover-color: color-mix(in oklch, white 6%, var(--#{$name}-color));
    }

    @else {
      --#{$name}-hover-color: color-mix(in oklch, black 6%, var(--#{$name}-color));
    }

    --#{$name}-shadow-color: color-mix(in oklch, var(--#{$name}-color), transparent 60%);
  }

  @each $name, $value in $color-map {
    @for $i from 100 through 1 {
      --#{$name}-light-#{$i}: color-mix(in oklch, white #{$i}%, var(--#{$name}-color));
    }

    @for $i from 1 through 100 {
      --#{$name}-dark-#{$i}: color-mix(in oklch, black #{$i}%, var(--#{$name}-color));
    }
  }
}

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  // --light-white-color: hsl(0, 0%, 97%);
  // --light-gray-color: hsl(0, 0%, 90%);

  --body-color: #3b4754;
  // --body-color: #646e78;
  --body-bg: hsl(240, 25%, 97%);
  --backdrop-color: rgba(27, 27, 27, 0.7);
  --paper-bg: #fff;

  --border-color: color-mix(in oklch, white 75%, var(--body-color));

  --form-control-focus-border-color: color-mix(in srgb, var(--primary-color), transparent 10%);
  --heading-color: var(--body-color);
  --link-color: #6666ff;
  --link-hover-color: #5252ff;

  --menu-color: var(--body-color);
  --menu-hover-color: color-mix(in oklch, black 20%, var(--body-color));
  --menu-hover-bg-color: color-mix(in oklch, var(--body-color), transparent 93%);
  --menu-divider-color: color-mix(in oklch, white 80%, var(--body-color));

  --menu-sub-bg-color: hsl(215, 100%, 98%);

  --scrollbar-color: color-mix(in oklch, var(--body-color), transparent 70%);
  --scrollbar-hover-color: color-mix(in oklch, var(--body-color), transparent 50%);

  --text-muted-color: hsl(212, 8%, 68%);


}

/* Color variables for dark theme */

.dark-mode {
  // --white-color: #171717;
  // --black-color: #d4d4d4;

  // --body-color: #cccccc;
  --body-color: #b2b2c4;
  // --body-bg: #1f1f1f;
  --body-bg: #232333;
  --paper-bg: color-mix(in oklch, white 6%, var(--body-bg));

  // --border-color: hsl(238, 16%, 36%);
  --border-color: color-mix(in oklch, white 15%, var(--paper-bg));

  --heading-color: var(--body-color);

  --menu-color: var(--body-color);
  --menu-hover-color: color-mix(in oklch, white 50%, var(--body-color));
  --menu-hover-bg-color: color-mix(in oklch, white 7%, var(--paper-bg));
  --menu-divider-color: color-mix(in oklch, white 20%, var(--paper-bg));

  --scrollbar-color: color-mix(in oklch, var(--body-color), transparent 70%);
  --scrollbar-hover-color: color-mix(in oklch, var(--body-color), transparent 50%);
}