/*-------------------------------------*/
/*               Colors                */
/*-------------------------------------*/

@import '_color_map.scss';

:root {
  @each $name, $value in $color-map {
    --#{$name}-color: #{$value};
  }

  @each $name, $value in $color-map {
    @if $name =='dark' {
      --#{$name}-hover-color: color-mix(in oklch, white 6%, var(--#{$name}-color));
    }

    @else {
      --#{$name}-hover-color: color-mix(in oklch, black 6%, var(--#{$name}-color));
    }

    --#{$name}-shadow-color: color-mix(in oklch, var(--#{$name}-color), transparent 60%);
  }

  @each $name, $value in $color-map {
    @for $i from 100 through 1 {
      --#{$name}-light-#{$i}: color-mix(in oklch, white #{$i}%, var(--#{$name}-color));
    }

    @for $i from 1 through 100 {
      --#{$name}-dark-#{$i}: color-mix(in oklch, black #{$i}%, var(--#{$name}-color));
    }
  }

  @for $i from 1 through 100 {
    --black-light-#{$i}: color-mix(in oklch, white #{$i}%, #000000);
  }
}

:root {
  --body-color: #3b3b54;
  --body-bg: hsl(240, 25%, 97%);
  --backdrop-color: hsla(0, 0%, 11%, 0.7);
  --paper-bg: #ffffff;

  --border-color: color-mix(in oklch, white 75%, var(--body-color));
  --form-control-focus-border-color: color-mix(in oklch, white 0%, var(--primary-color));

  --heading-color: var(--body-color);
  --link-color: #6666ff;
  --link-hover-color: #5252ff;

  --menu-color: var(--body-color);
  --menu-hover-color: color-mix(in oklch, black 15%, var(--body-color));
  --menu-hover-bg-color: color-mix(in oklch, var(--body-color), transparent 93%);
  --menu-divider-color: color-mix(in oklch, white 80%, var(--body-color));

  --menu-sub-bg-color: hsl(215, 100%, 98%);

  --scrollbar-color: color-mix(in oklch, var(--body-color), transparent 70%);
  --scrollbar-hover-color: color-mix(in oklch, var(--body-color), transparent 50%);

  // --text-muted-color: hsl(212, 8%, 68%);
  // --text-muted-color: color-mix(in oklch, white 55%, var(--body-color));
  --text-muted-color: color-mix(in hsl, var(--body-color) 60%, transparent);
}

/* Color variables for dark theme */

.dark-mode {
  --backdrop-color: hsla(240, 19%, 17%, 0.8);
  // --body-color: hsl(240, 13%, 73%);
  --body-color: #c5c5d3;
  --body-bg: hsl(240, 19%, 17%);
  --backdrop-color: hsla(0, 0%, 83%, 0.7);

  --paper-bg: color-mix(in oklch, white 6%, var(--body-bg));

  --border-color: color-mix(in oklch, white 15%, var(--paper-bg));

  --heading-color: var(--body-color);

  --menu-color: var(--body-color);
  --menu-hover-color: color-mix(in oklch, white 50%, var(--body-color));
  --menu-hover-bg-color: color-mix(in oklch, white 7%, var(--paper-bg));
  --menu-divider-color: color-mix(in oklch, white 20%, var(--paper-bg));

  --scrollbar-color: color-mix(in oklch, var(--body-color), transparent 70%);
  --scrollbar-hover-color: color-mix(in oklch, var(--body-color), transparent 50%);

  --text-muted-color: color-mix(in hsl, var(--body-color) 55%, transparent);
}