@import '_color_map.scss';

/*-------------------------------------*/
/*             Container               */
/*-------------------------------------*/

.container,
.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/*-------------------------------------*/
/*      Bordered/Filled Container      */
/*-------------------------------------*/

.bordered-container {
  background-color: transparent;
  color: var(--body-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.5rem .75rem;
}

@each $name, $value in $color-map {
  .bordered-container-#{$name} {
    border: 1px solid var(--#{$name}-light-50);
    color: var(--#{$name}-color);
  }
}

.filled-container {
  background-color: var(--secondary-light-95);
  color: var(--body-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.50rem .75rem;
}

@each $name, $value in $color-map {
  .filled-container-#{$name} {
    border: 1px solid var(--#{$name}-light-80);
    background-color: var(--#{$name}-light-90);
    color: var(--#{$name}-color);
  }
}

/*-------------------------------------*/
/*            Gap Container            */
/*-------------------------------------*/

.gap-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}