@import '_color_map.scss';

/*-------------------------------------*/
/*             Container               */
/*-------------------------------------*/

.container,
.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/*-------------------------------------*/
/*      Bordered/Filled Container      */
/*-------------------------------------*/

.bordered-container {
  background-color: transparent;
  color: var(--body-color);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.35rem .75rem;
}

@each $name, $value in $color-map {
  .bordered-container-#{$name} {
    border-color: var(--#{$name}-light-10);
    color: var(--body-color);
  }

  .dark-mode .bordered-container-#{$name} {
    border-color: var(--#{$name}-dark-10);
    color: var(--body-color);
  }
}

.filled-container {
  border: 1px solid var(--border-color);
  background-color: color-mix(in oklab, var(--border-color), transparent 90%);
  color: var(--body-color);
  border-radius: var(--border-radius);
  padding: 0.35rem .75rem;
}

.dark-mode .filled-container {
  background-color: color-mix(in oklab, var(--border-color), transparent 85%);
  color: var(--body-color);
  border-color: var(--border-color);
}

@each $name, $value in $color-map {
  .filled-container-#{$name} {
    border-color: var(--#{$name}-light-50);
    color: var(--#{$name}-dark-20);
    background-color: var(--#{$name}-light-70);
  }

  .dark-mode .filled-container-#{$name} {
    border-color: var(--#{$name}-light-30);
    color: var(--#{$name}-dark-20);
    background-color: var(--#{$name}-light-60);
  }
}

/*-------------------------------------*/
/*            Gap Container            */
/*-------------------------------------*/

.gap-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}