@import '_color_map.scss';

/*-------------------------------------*/
/*           Form Elements             */
/*-------------------------------------*/

.form-check {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  margin-right: 0.75rem;
}

.form-check-input {
  --form-check-input-checked-bg-color: var(--primary-color);
  --form-check-input-checked-border-color: var(--primary-color);
  --form-check-input-shadow-color: var(--primary-color);

  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  appearance: none;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--border-color);
  border-radius: 0.3rem;
  flex-shrink: 0;
}

.form-check-input:disabled,
.form-check-input.disabled,
.form-check-label:disabled,
.form-check-label.disabled {
  opacity: 0.45;
  user-select: none;
  pointer-events: none;
}

.form-check-input[disabled]~.form-check-label,
.form-check-input:disabled~.form-check-label {
  cursor: default;
  pointer-events: none;
  opacity: .45
}

.form-check-input:focus:not([readonly]) {
  outline: 0;
  border-color: var(--form-control-focus-border-color);
  box-shadow: 0 0.25rem 0.25rem 0.05rem color-mix(in oklch, var(--form-check-input-shadow-color), transparent 80%);
}

.form-check-input:checked {
  background-color: var(--form-check-input-checked-bg-color);
  border-color: var(--form-check-input-checked-border-color);
}

.form-check-input[type=checkbox]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17' viewBox='0 0 15 14' fill='none'%3E%3Cpath d='M3.41667 7L6.33333 9.91667L12.1667 4.08333' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.form-check-input[type=radio]:checked {
  border-radius: 50%;
  background-image: url('data:image/svg+xml,<svg viewBox="-4 -4 8 8" version="1.1" id="svg1" width="8" height="8" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><circle r="4" fill="%23ffffff" id="circle1" cx="2.220446e-16" cy="2.220446e-16" style="fill:%23ffffff;stroke-width:2.5" /></svg>');
}

.form-check-input[type=radio] {
  border-radius: 50%;
}

.form-check-label {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  color: color-mix(in oklab, var(--body-color), transparent 20%);
  display: inline-block;
}

//////////////////// Form Check Colors ////////////////////

@each $name, $value in $color-map {
  .form-check-#{$name} .form-check-input {
    --form-check-input-checked-bg-color: var(--#{$name}-color);
    --form-check-input-checked-border-color: var(--#{$name}-color);
    --form-control-focus-border-color: var(--#{$name}-color);
    --form-check-input-shadow-color: var(--#{$name}-color);
  }
}

///////////////////////////////////////////////////////////

.form-control {
  --form-control-hover-shadow-color: var(--border-color);
  display: block;
  width: 100%;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.35rem 0.75rem;
  color: var(--body-color);
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
}

.dark-mode .form-control {
  --form-control-hover-shadow-color: color-mix(in oklab, var(--border-color), transparent 90%);
  border-color: color-mix(in oklab, var(--border-color), white 6%);
  background-color: var(--border-color);
}

.form-control-sm {
  font-size: 0.8rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--border-radius-sm);
}

.form-control.invalid {
  color: var(--danger-color);
  border-color: var(--danger-color);
}

.form-control:hover:not([disabled]):not([focus]) {
  box-shadow: 0 0 0.175rem var(--form-control-hover-shadow-color);
}

.form-control:focus:not([readonly]) {
  outline: 0;
  color: var(--body-color);
  background-color: transparent;
  border: 2px solid var(--form-control-focus-border-color);
  box-shadow: 0 0 0.175rem 0.05rem var(--form-control-hover-shadow-color);
}

.dark-mode .form-control:focus:not([readonly]) {
  background-color: var(--border-color);
}

.form-control:focus.invalid {
  color: var(--danger-color);
  border-color: var(--danger-color);
}

.form-control::placeholder {
  color: color-mix(in oklch, black 10%, var(--border-color));
  font-weight: 450;
}

.dark-mode .form-control::placeholder {
  color: color-mix(in oklch, white 40%, var(--border-color));
}

.form-control::placeholder,
.form-control:focus::placeholder {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.form-control:focus:not([readonly])::placeholder {
  transform: translateX(5px);
  -moz-transform: translateX(5px);
  -o-transform: translateX(5px);
  -webkit-transform: translateX(5px);
}

.form-invalid-message {
  width: 100%;
  font-size: 0.8rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  color: var(--danger-color);
}

.form-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: color-mix(in oklab, var(--body-color), transparent 20%);
  display: inline-block;
}

.form-control:disabled,
.form-control.disabled,
.form-label:disabled,
.form-label.disabled {
  opacity: 0.45;
  user-select: none;
  pointer-events: none;
}

.form-select {
  display: block;
  width: 100%;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.35rem 0.75rem;
  color: var(--body-color);
  background-color: transparent;
  appearance: none; //hide default icon shown by browser
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 12 7.333127' fill='none' version='1.1' id='svg1' width='12' height='7.333127' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'><defs id='defs1' /><path d='M 5.9999688,4.6669152 10.666843,0 12,1.3331162 5.9999688,7.3331268 0,1.3331162 1.3331264,0 Z' fill='%2322303e' fill-opacity='0.9' id='path1' style='fill:%233b3b54;fill-opacity:0.45;stroke-width:1.02851' /></svg>");
  background-repeat: no-repeat;
  background-position: right .5rem center;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
}

.dark-mode .form-select {
  border-color: color-mix(in oklab, var(--border-color), white 6%);
  background-color: var(--border-color);
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 12 7.333127' fill='none' version='1.1' id='svg1' width='12' height='7.333127' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'><defs id='defs1' /><path d='M 5.9999688,4.6669152 10.666843,0 12,1.3331162 5.9999688,7.3331268 0,1.3331162 1.3331264,0 Z' fill='%2322303e' fill-opacity='0.9' id='path1' style='fill:%23c5c5d3;fill-opacity:0.45;stroke-width:1.02851' /></svg>");
}

.form-select-sm {
  font-size: 0.8rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--border-radius-sm);
}

.form-select:hover:not([disabled]):not([focus]) {
  box-shadow: 0 0 0.25rem 0.05rem hsla(239, 100%, 70%, 0.1);
}

.form-select:focus:not([readonly]) {
  outline: 0;
  border: 2px solid var(--form-control-focus-border-color);
  box-shadow: 0 0 0.25rem 0.05rem hsla(239, 100%, 70%, 0.1);
}

// Search input with close button
.search-close-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-close-wrapper .search-closer {
  position: absolute;
  display: none;
  color: color-mix(in oklch, black 10%, var(--border-color));
  right: 0.25rem;
  z-index: 1;
}

.dark-mode .search-close-wrapper .search-closer {
  color: color-mix(in oklch, white 30%, var(--border-color));
}

.search-close-wrapper:hover .search-closer,
.search-input:focus+.search-closer,
.search-input:not(:placeholder-shown)+.search-closer {
  display: block;
}

.search-close-wrapper .search-closer:hover {
  color: color-mix(in oklch, black 30%, var(--border-color));
}

.dark-mode .search-close-wrapper .search-closer:hover {
  color: color-mix(in oklch, white 50%, var(--border-color));
}