/*-------------------------------------*/
/*           Form Elements             */
/*-------------------------------------*/

.form-check {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.form-check-input {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17' viewBox='0 0 15 14' fill='none'%3E%3Cpath d='M3.41667 7L6.33333 9.91667L12.1667 4.08333' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--border-color);
  border-radius: 0.3rem;
}

.form-check-input:focus {
  outline: 0;
  border-color: var(--form-control-focus-border-color);
  box-shadow: 0 0.25rem 0.25rem 0.05rem hsla(239, 100%, 70%, 0.2);
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.form-check-label {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--secondary-color);
  display: inline-block;
}

.form-control {
  display: block;
  width: 100%;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.35rem 0.75rem;
  color: var(--body-color);
  background: var(--white-color);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
}

.form-control:hover:not([disabled]):not([focus]) {
  box-shadow: 0 0 0.25rem 0.05rem hsla(239, 100%, 70%, 0.1);
}

.form-control:focus:not([readonly]) {
  outline: 0;
  color: var(--body-color);
  background: var(--white-color);
  border: 2px solid var(--form-control-focus-border-color);
  box-shadow: 0 0 0.25rem 0.05rem hsla(239, 100%, 70%, 0.1);
}

.form-control::placeholder {
  color: #b4bdc6;
  font-weight: 450;
  opacity: 1;
}

.form-control::placeholder,
.form-control:focus::placeholder {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.form-control:focus:not([readonly])::placeholder {
  transform: translateX(5px);
  -moz-transform: translateX(5px);
  -o-transform: translateX(5px);
  -webkit-transform: translateX(5px);
}

.form-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--secondary-color);
  display: inline-block;
}

/* Container class for invalid form text message */

.form-invalid {
  width: 100%;
  font-size: 0.8rem;
  color: var(--danger-dark-color);
}