/*--------------------------------------------------------------------------*/
/*                         Standard HTML Elements                           */
/*--------------------------------------------------------------------------*/
/*
/*-------------------------------------*/
/*               Anchor                */
/*-------------------------------------*/

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

a:focus-visible {
  outline: 2px solid var(--primary-color);
  border-radius: 2px;
}

/*-------------------------------------*/
/*                Body                 */
/*-------------------------------------*/

body {
  color: var(--body-color);
  background: var(--body-bg);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.375;
}

/*-------------------------------------*/
/*              Heading                */
/*-------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--heading-color);
}

h1 {
  font-size: calc(1.3rem + 1.2vw);
}

h2 {
  font-size: calc(1.3rem + 0.9vw);
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

h5,
.h5 {
  font-size: 1.125rem;
}

h6,
.h6 {
  font-size: 0.9375rem;
}

/*-------------------------------------*/
/*                Table                */
/*-------------------------------------*/

table {
  width: 100%;
  border-collapse: collapse !important;
  vertical-align: middle;
  border-color: var(--border-color);
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0px;
}

thead {
  text-align: left;
}

.table-info {
  height: 100%;
  display: flex;
  align-items: center;
}

.table-pagination {
  display: flex;
  align-items: center;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  .table-info {
    height: inherit;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .table-pagination {
    justify-content: center;
  }
}