/*-------------------------------------*/
/*                Menu                 */
/*-------------------------------------*/

.menu {
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin;
  height: calc(100vh - 100px);
  scrollbar-color: transparent transparent;
}

.menu:hover {
  scrollbar-color: var(--scrollbar-color) transparent;
}

.menu-header {
  margin: 0;
  padding: 1rem 1.5rem;
}

.menu-header .menu-header-text {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--secondary-dark-color);
}

.menu-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem 0 1rem;
  color: var(--menu-color);
  border-radius: var(--border-radius);
}

.menu-link:hover {
  color: var(--menu-hover-color);
  background-color: var(--menu-hover-bg-color);
}

.menu>.menu-item.active>.menu-link {
  color: var(--primary-color);
  background-color: var(--primary-light-85);
}

.dark-mode .menu>.menu-item.active>.menu-link {
  color: #ffffff;
  background-color: var(--primary-light-1);
}

.menu-toggle::after {
  position: absolute;
  content: 'î©';
  right: 6%;
  display: block;
  font-family: 'boxicons';
  font-size: 1.375rem;
  transform: translateY(5%);
  transition: transform 0.2s ease-out;
}

.menu-item.open>.menu-toggle::after {
  transform: rotate(90deg);
}

.menu-sub {
  display: none;
  position: relative;
  transition: size 0.4s ease-in;
}

.menu-sub .menu-item:first-child {
  margin-top: 0.3rem;
}

.menu-sub .menu-link {
  padding-left: 2.5rem;
}

.menu-sub .menu-sub .menu-link {
  padding-left: 3rem;
}

.menu-sub>.menu-item>.menu-link:before {
  content: '';
  position: absolute;
  left: 2rem;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: #a7acb2;
}

.menu-sub .menu-sub>.menu-item>.menu-link:before {
  left: 2.5rem;
}

.menu-sub>.menu-item.active>.menu-link:before {
  background-color: var(--primary-color) !important;
}

.menu-item.open>.menu-sub {
  display: block;
}