/*-------------------------------------*/
/*                Modal                */
/*-------------------------------------*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  z-index: var(--modal-z-index);
}

.modal.show {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-backdrop-z-index);
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-dark-color);
}

.modal-dialog {
  position: relative;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.modal-dialog-scrollable {
  height: calc(100% - 3rem);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto 1.5rem auto;
  max-width: 600px;
  background: var(--white-color);
  box-shadow: 0 0.2rem 1.5rem 1rem hsla(210, 30%, 20%, 0.1);
  border-radius: var(--border-radius);
}

.modal.show .modal-content {
  animation: modalSlideDown 0.5s ease;
}

@keyframes modalSlideDown {
  from {
    top: -500px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes modalSlideUp {
  from {
    top: 0;
    opacity: 1;
  }

  to {
    top: -500px;
    opacity: 0;
  }
}

@media (max-width: 650px) {
  .modal-content {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* width: auto; */
  }
}

.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  /* overflow: hidden; */
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 1rem 1.5rem;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem 1.5rem;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
  scrollbar-width: thin;
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 1.5rem;
}

.modal .btn-close {
  background-color: var(--danger-color);
  border-radius: var(--border-radius);
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%23fff;fill-opacity:1;stroke-width:8.83978" /></svg>');
  opacity: 1;
  padding: 0.5rem;
  box-shadow: 0 0.0625rem 0.3175rem 0 rgba(34, 48, 62, 0.06);
  background-size: 0.75rem;
  transition: all 0.23s ease 0.1s;
}

.modal .modal-header .btn-close {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
}

.modal .modal-header .btn-close:hover {
  right: -0.3rem;
  top: -0.3rem;
}