/*-------------------------------------*/
/*                 Nav                 */
/*-------------------------------------*/

.nav {
  --nav-link-color: var(--body-color);
  --nav-link-bg-color: hsl(220, 9%, 94%);
  --nav-link-hover-bg-color: hsl(220, 9%, 84%);

  --nav-link-disabled-color: hsl(210, 18%, 80%);
  --nav-link-disabled-bg-color: hsl(220, 8%, 96%);

  --nav-link-active-color: var(--white-color);
  --nav-link-active-bg-color: var(--primary-color);
  --nav-link-active-hover-bg-color: var(--primary-hover-color);

  display: flex;
  list-style: none;
}

.nav .nav-link {
  display: block;
  padding: 0.5rem 1.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--nav-link-color);
  background-color: var(--nav-link-bg-color);
}

.nav.nav-pills {
  gap: 0.5rem;
}

.nav.nav-pills .nav-link {
  border-radius: var(--border-radius);
}

.nav.nav-pills .nav-link:hover {
  color: var(--body-color);
  background-color: var(--nav-link-hover-bg-color);
}

.nav.nav-pills .nav-item.active>.nav-link {
  color: var(--nav-link-active-color);
  background-color: var(--nav-link-active-bg-color);
}

.nav.nav-pills .nav-item.active>.nav-link:hover {
  color: var(--nav-link-active-color);
  background-color: var(--nav-link-active-hover-bg-color);
}

.nav.nav-pills .nav-item.disabled>.nav-link {
  color: var(--nav-link-disabled-color);
  background-color: var(--nav-link-disabled-bg-color);
  pointer-events: none;
}

.nav.nav-tabs .nav-item>.nav-link {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.nav.nav-tabs .nav-link:hover {
  color: var(--body-color);
  background-color: var(--nav-link-hover-bg-color);
}

.nav.nav-tabs .nav-item.active>.nav-link {
  color: var(--nav-link-active-color);
  background-color: var(--nav-link-active-bg-color);
}

.nav.nav-underline .nav-link {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.nav.nav-underline .nav-link:hover {
  color: var(--body-color);
  background-color: var(--nav-link-hover-bg-color);
  border-bottom: 2px solid var(--nav-link-hover-bg-color);
}

.nav.nav-underline .nav-item.active>.nav-link {
  border-bottom: 2px solid var(--nav-link-active-bg-color);
}