/*-------------------------------------*/
/*                 Nav                 */
/*-------------------------------------*/

.nav {
  --nav-link-color: var(--body-color);
  --nav-link-bg-color: color-mix(in oklch, var(--body-color), transparent 90%);
  --nav-link-border-color: transparent;

  --nav-link-hover-bg-color: color-mix(in oklch, var(--body-color), transparent 85%);
  --nav-link-hover-border-color: transparent;

  --nav-link-disabled-color: color-mix(in oklch, var(--body-color), transparent 70%);
  --nav-link-disabled-bg-color: color-mix(in oklch, var(--page-link-bg-color), transparent 70%);
  --nav-link-disabled-border-color: transparent;

  --nav-link-active-color: #ffffff;
  --nav-link-active-bg-color: var(--primary-color);
  --nav-link-active-border-color: transparent;

  --nav-link-active-hover-bg-color: var(--primary-hover-color);
  --nav-link-active-hover-border-color: transparent;

  display: flex;
  list-style: none;
}

.dark-mode .nav {
  --nav-link-color: var(--body-color);
  --nav-link-bg-color: var(--border-color);
  --nav-link-border-color: color-mix(in oklch, white 10%, var(--border-color));

  --nav-link-hover-bg-color: color-mix(in oklch, white 10%, var(--border-color));
  --nav-link-hover-border-color: color-mix(in oklch, white 15%, var(--border-color));

  --nav-link-disabled-color: color-mix(in oklch, var(--body-color), transparent 70%);
  --nav-link-disabled-bg-color: color-mix(in oklch, var(--border-color), transparent 70%);
  --nav-link-disabled-border-color: color-mix(in oklch, var(--border-color), transparent 60%);

  --nav-link-active-color: #ffffff;
  --nav-link-active-bg-color: var(--primary-color);
  --nav-link-active-border-color: color-mix(in oklch, white 10%, var(--primary-color));

  --nav-link-active-hover-bg-color: var(--primary-hover-color);
  --nav-link-active-hover-border-color: color-mix(in oklch, white 10%, var(--primary-hover-color));
}

.nav .nav-link {
  display: block;
  padding: 0.5rem 1.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--nav-link-color);
  border: 1px solid var(--nav-link-border-color);
  background-color: var(--nav-link-bg-color);
}

.nav.nav-pills {
  gap: 0.5rem;
}

.nav.nav-pills .nav-link {
  border-radius: var(--border-radius);
}

.nav.nav-pills .nav-link:hover {
  color: var(--body-color);
  background-color: var(--nav-link-hover-bg-color);
  border-color: var(--nav-link-hover-border-color);
}

.nav.nav-pills .nav-item.active>.nav-link {
  color: var(--nav-link-active-color);
  background-color: var(--nav-link-active-bg-color);
  border-color: var(--nav-link-active-border-color);
}

.nav.nav-pills .nav-item.active>.nav-link:hover {
  color: var(--nav-link-active-color);
  background-color: var(--nav-link-active-hover-bg-color);
  border-color: var(--nav-link-active-hover-border-color);
}

.nav.nav-pills .nav-item.disabled>.nav-link {
  color: var(--nav-link-disabled-color);
  background-color: var(--nav-link-disabled-bg-color);
  border-color: var(--nav-link-disabled-border-color);
  pointer-events: none;
}

.nav.nav-tabs .nav-item>.nav-link {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.nav.nav-tabs .nav-link:hover {
  color: var(--body-color);
  background-color: var(--nav-link-hover-bg-color);
  border-color: var(--nav-link-hover-border-color);
}

.nav.nav-tabs .nav-item.active>.nav-link {
  color: var(--nav-link-active-color);
  background-color: var(--nav-link-active-bg-color);
  border-color: var(--nav-link-active-border-color);
}

.nav.nav-underline .nav-link {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.nav.nav-underline .nav-link:hover {
  color: var(--body-color);
  background-color: var(--nav-link-hover-bg-color);
  border-color: var(--nav-link-hover-border-color);
  border-bottom: 2px solid var(--nav-link-hover-bg-color);
}

.nav.nav-underline .nav-item.active>.nav-link {
  border-bottom: 2px solid var(--nav-link-active-bg-color);
}