/*-------------------------------------*/
/*             Pagination              */
/*-------------------------------------*/

.pagination {
  --page-link-color: var(--body-color);
  --page-link-bg-color: hsl(220, 9%, 94%);
  --page-link-hover-bg-color: hsl(220, 9%, 84%);

  --page-link-disabled-color: hsl(210, 18%, 80%);
  --page-link-disabled-bg-color: hsl(220, 8%, 96%);

  --page-link-active-color: var(--white-color);
  --page-link-active-bg-color: var(--primary-color);
  --page-link-active-hover-bg-color: var(--primary-hover-color);

  display: flex;
  gap: 0.5rem;
  padding-left: 0;
  list-style: none;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  color: var(--page-link-color);
  background-color: var(--page-link-bg-color);
  border-radius: var(--border-radius);
}

.page-link:hover {
  color: var(--body-color);
  background-color: var(--page-link-hover-bg-color);
}

.page-item.active>.page-link {
  color: var(--page-link-active-color);
  background-color: var(--page-link-active-bg-color);
}

.page-item.active>.page-link:hover {
  color: var(--page-link-active-color);
  background-color: var(--page-link-active-hover-bg-color);
}

.page-item.disabled>.page-link {
  color: var(--page-link-disabled-color);
  background-color: var(--page-link-disabled-bg-color);
  pointer-events: none;
}