/*-------------------------------------*/
/*             Pagination              */
/*-------------------------------------*/

.pagination {
  --page-link-color: var(--body-color);
  --page-link-bg-color: color-mix(in oklch, var(--body-color), transparent 90%);
  --page-link-border-color: transparent;

  --page-link-hover-bg-color: color-mix(in oklch, var(--body-color), transparent 85%);
  --page-link-hover-border-color: transparent;

  --page-link-disabled-color: color-mix(in oklch, var(--body-color), transparent 70%);
  --page-link-disabled-bg-color: color-mix(in oklch, var(--page-link-bg-color), transparent 70%);
  --page-link-disabled-border-color: transparent;

  --page-link-active-color: #ffffff;
  --page-link-active-bg-color: var(--primary-color);
  --page-link-active-border-color: transparent;

  --page-link-active-hover-bg-color: var(--primary-hover-color);
  --page-link-active-hover-border-color: transparent;

  display: flex;
  gap: 0.25rem;
  padding-left: 0;
  list-style: none;
}

.dark-mode .pagination {
  --page-link-color: var(--body-color);
  --page-link-bg-color: var(--border-color);
  --page-link-border-color: color-mix(in oklch, white 10%, var(--border-color));

  --page-link-hover-bg-color: color-mix(in oklch, white 10%, var(--border-color));
  --page-link-hover-border-color: color-mix(in oklch, white 15%, var(--border-color));

  --page-link-disabled-color: color-mix(in oklch, var(--body-color), transparent 70%);
  --page-link-disabled-bg-color: color-mix(in oklch, var(--border-color), transparent 70%);
  --page-link-disabled-border-color: color-mix(in oklch, var(--border-color), transparent 60%);

  --page-link-active-color: #ffffff;
  --page-link-active-bg-color: var(--primary-color);
  --page-link-active-border-color: color-mix(in oklch, white 10%, var(--primary-color));

  --page-link-active-hover-bg-color: var(--primary-hover-color);
  --page-link-active-hover-border-color: color-mix(in oklch, white 10%, var(--primary-hover-color));
}

.page-link {
  position: relative;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  min-block-size: calc(2.2508625rem + calc(1px* 2));
  min-inline-size: calc(2.2505625rem + calc(1px* 2));
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  color: var(--page-link-color);
  background-color: var(--page-link-bg-color);
  border: 1px solid var(--page-link-border-color);
  border-radius: var(--border-radius);
}

.pagination-rounded-circle .page-link {
  border-radius: 50%;
}

.page-link:hover {
  color: var(--body-color);
  background-color: var(--page-link-hover-bg-color);
  border-color: var(--page-link-hover-border-color);
}

.page-item.active>.page-link {
  color: var(--page-link-active-color);
  background-color: var(--page-link-active-bg-color);
  border-color: var(--page-link-active-border-color);
}

.page-item.active>.page-link:hover {
  color: var(--page-link-active-color);
  background-color: var(--page-link-active-hover-bg-color);
  border-color: var(--page-link-active-hover-border-color);
}

.page-item.disabled>.page-link {
  color: var(--page-link-disabled-color);
  background-color: var(--page-link-disabled-bg-color);
  border-color: var(--page-link-disabled-border-color);
  pointer-events: none;
}