* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 0.375rem;
  --button-radius: 0.25rem;
}

/* Z-Index */

:root {
  --btn-close-z-index: 2;
  --navbar-z-index: 3;
  --sidebar-backdrop-z-index: 996;
  --sidebar-z-index: 997;
  --dropdown-z-index: 998;
  --modal-backdrop-z-index: 999;
  --modal-z-index: 1000;
}

/* Breakpoints */

:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}