/*-------------------------------------*/
/*                 Text                */
/*-------------------------------------*/

.text-start {
  text-align: start !important
}

.text-end {
  text-align: end !important
}

.text-center {
  text-align: center !important
}

.text-decoration-none {
  text-decoration: none !important
}

.text-decoration-underline {
  text-decoration: underline !important
}

.text-decoration-line-through {
  text-decoration: line-through !important
}

.text-none {
  text-transform: none !important
}

.text-lowercase {
  text-transform: lowercase !important
}

.text-uppercase {
  text-transform: uppercase !important
}

.text-capitalize {
  text-transform: capitalize !important
}

.text-wrap {
  white-space: normal !important
}

.text-nowrap {
  white-space: nowrap !important
}

.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important
}

textarea {
  resize: vertical;
}

.text-heading-link {
  color: var(--heading-color);
  cursor: pointer;
}

.text-heading-link:hover {
  color: var(--heading-hover-color);
}

.text-heading-link.background:hover {
  color: var(--heading-color);
  background-color: var(--heading-hover-bg-color);
}

.text-heading-link:focus-visible {
  outline: 2px solid var(--secondary-color);
  border-radius: 2px;
}